In [47]:
from pyspark.sql import SparkSession, DataFrame
from pyspark.sql.types import *
from pyspark.sql.functions import col, lit, when, coalesce, split, concat, udf, to_date, \
                                    regexp_replace, lower, monotonically_increasing_id, regexp_extract, create_map
from itertools import chain
from typing import Dict
import re 
from datetime import datetime

In [48]:
spark = SparkSession\
    .builder\
    .master("local[4]")\
    .appName("DataQualityLayer")\
    .config("spark.eventLog.logBlockUpdates.enabled", True)\
    .getOrCreate()

In [49]:
def get_latest_file(spark, hdfs_path):
    # List all files in the directory
    files = spark._jvm.org.apache.hadoop.fs.FileSystem.get(spark._jsc.hadoopConfiguration()) \
        .listStatus(spark._jvm.org.apache.hadoop.fs.Path(hdfs_path))
    
    # Sort files by modification time (most recent first)
    sorted_files = sorted(files, key=lambda f: f.getModificationTime(), reverse=True)
    
    if not sorted_files:
        return None
    
    # Get the path of the most recent file
    return sorted_files[0].getPath().toString()

In [50]:
current_date = datetime.now().strftime("%Y-%m-%d")
    
# Construct HDFS path
hdfs_base_path = "/user/itversity/q-company_raw_layer"
hdfs_path = f"{hdfs_base_path}/sales_transactions_{current_date}"

# Get the latest file
latest_file = get_latest_file(spark, hdfs_path)

if latest_file:
    print(f"Processing file: {latest_file}")

    # Read the Parquet file
    df = spark.read.option("mergeSchema", "true").parquet(latest_file)

       
    # Show some results
    df.show(5, False, True)

        
else:
    print(f"No files found in {hdfs_path}")

Processing file: hdfs://localhost:9000/user/itversity/q-company_raw_layer/sales_transactions_2024-07-10/404246bdbc174d1aadca46c403cc03fc-0.parquet
-RECORD 0---------------------------------------
 transaction_date | 2023-10-18
 transaction_id   | trx-237976222990
 customer_id      | 85517
 customer_fname   | Mia
 cusomter_lname   | Jones
 cusomter_email   | mia.jones@outlook.com/
 sales_agent_id   | 6.0
 branch_id        | 1.0
 product_id       | 10
 product_name     | Sandals
 product_category | Footwear
 offer_1          | null
 offer_2          | null
 offer_3          | null
 offer_4          | null
 offer_5          | true
 units            | 1
 unit_price       | 39.99
 is_online        | no
 payment_method   | Cash
 shipping_address | null
 name             | Emma Taylor
 hire_date        | 2018-8-9
 location         | New York
 establish_date   | 2017-01-15
 class            | A
 group            | group5
-RECORD 1---------------------------------------
 transaction_date | 2022-5-8
 transaction_id   | trx-891084445200
 customer_id      | 85497
 customer_fname   | Michael
 cusomter_lname   | Williams
 cusomter_email   | michael.williams@yahoo.com^
 sales_agent_id   | 9.0
 branch_id        | 2.0
 product_id       | 27
 product_name     | Iron
 product_category | Appliances
 offer_1          | null
 offer_2          | null
 offer_3          | true
 offer_4          | null
 offer_5          | null
 units            | 1
 unit_price       | 29.99
 is_online        | no
 payment_method   | Credit Card
 shipping_address | null
 name             | Daniel Martinez
 hire_date        | 2019-7-19
 location         | Los Angeles
 establish_date   | 2016-07-28
 class            | B
 group            | group5
-RECORD 2---------------------------------------
 transaction_date | 2022-11-20
 transaction_id   | trx-911377237189
 customer_id      | 85485
 customer_fname   | James
 cusomter_lname   | Johnson
 cusomter_email   | james.johnson@hotmail.com%x
 sales_agent_id   | 6.0
 branch_id        | 5.0
 product_id       | 9
 product_name     | Boots
 product_category | Footwear
 offer_1          | null
 offer_2          | null
 offer_3          | null
 offer_4          | null
 offer_5          | null
 units            | 8
 unit_price       | 129.99
 is_online        | no
 payment_method   | Cash
 shipping_address | null
 name             | Emma Taylor
 hire_date        | 2018-8-9
 location         | Phoenix
 establish_date   | 2017-09-20
 class            | C
 group            | group5
-RECORD 3---------------------------------------
 transaction_date | 2023-5-18
 transaction_id   | trx-121263458494
 customer_id      | 85468
 customer_fname   | William
 cusomter_lname   | Moore
 cusomter_email   | william.moore@outlook.com)x
 sales_agent_id   | 9.0
 branch_id        | 6.0
 product_id       | 1
 product_name     | Laptop
 product_category | Electronics
 offer_1          | true
 offer_2          | null
 offer_3          | null
 offer_4          | null
 offer_5          | null
 units            | 4
 unit_price       | 999.99
 is_online        | no
 payment_method   | Credit Card
 shipping_address | null
 name             | Daniel Martinez
 hire_date        | 2019-7-19
 location         | Oklahoma
 establish_date   | 2016-09-20
 class            | A
 group            | group5
-RECORD 4---------------------------------------
 transaction_date | 2022-2-7
 transaction_id   | trx-617255070261
 customer_id      | 85535
 customer_fname   | Olivia
 cusomter_lname   | Johnson
 cusomter_email   | olivia.johnson@yahoo.com'
 sales_agent_id   | 4.0
 branch_id        | 4.0
 product_id       | 30
 product_name     | Electric Kettle
 product_category | Appliances
 offer_1          | null
 offer_2          | null
 offer_3          | null
 offer_4          | null
 offer_5          | null
 units            | 3
 unit_price       | 24.99
 is_online        | no
 payment_method   | Cash
 shipping_address | null
 name             | Emily Brown
 hire_date        | 2018-11-12
 location         | Houston
 establish_date   | 2016-11-05
 class            | D
 group            | group5
only showing top 5 rows

In [94]:
df.count()

1500

In [51]:
df.schema

StructType(List(StructField(transaction_date,StringType,true),StructField(transaction_id,StringType,true),StructField(customer_id,LongType,true),StructField(customer_fname,StringType,true),StructField(cusomter_lname,StringType,true),StructField(cusomter_email,StringType,true),StructField(sales_agent_id,DoubleType,true),StructField(branch_id,DoubleType,true),StructField(product_id,LongType,true),StructField(product_name,StringType,true),StructField(product_category,StringType,true),StructField(offer_1,BooleanType,true),StructField(offer_2,BooleanType,true),StructField(offer_3,BooleanType,true),StructField(offer_4,BooleanType,true),StructField(offer_5,BooleanType,true),StructField(units,LongType,true),StructField(unit_price,DoubleType,true),StructField(is_online,StringType,true),StructField(payment_method,StringType,true),StructField(shipping_address,StringType,true),StructField(name,StringType,true),StructField(hire_date,StringType,true),StructField(location,StringType,true),StructField(establish_date,StringType,true),StructField(class,StringType,true),StructField(group,StringType,true)))

In [106]:
#ٍ1. Tables Schemas
#Raw Data Schema
raw_dataSchema = StructType([
    StructField("transaction_date", DateType(), nullable=False),
    StructField("transaction_id", StringType(), nullable=False),
    StructField("customer_id", LongType(), nullable=False),
    StructField("customer_fname", StringType(), nullable=False),
    StructField("customer_lname", StringType(), nullable=False),
    StructField("customer_email", StringType(), nullable=False),
    StructField("sales_agent_id", StringType(), nullable=True),
    StructField("branch_id", StringType(), nullable=True),
    StructField("product_id", IntegerType(), nullable=False),
    StructField("product_name", StringType(), nullable=False),
    StructField("product_category", StringType(), nullable=False),
    StructField("offer_1", StringType(), nullable=True),
    StructField("offer_2", StringType(), nullable=True),
    StructField("offer_3", StringType(), nullable=True),
    StructField("offer_4", StringType(), nullable=True),
    StructField("offer_5", StringType(), nullable=True),
    StructField("units", IntegerType(), nullable=False),
    StructField("unit_price", DoubleType(), nullable=False),
    StructField("is_online", StringType(), nullable=False),
    StructField("payment_method", StringType(), nullable=False),
    StructField("shipping_address", StringType(), nullable=True),
    StructField("name", StringType(), nullable=True),
    StructField("hire_date", DateType(), nullable=True),
    StructField("location", StringType(), nullable=True),
    StructField("establish_date", DateType(), nullable=True),
    StructField("class", StringType(), nullable=True),
    StructField("group", StringType(), nullable=False),
    StructField("logs", StringType(), nullable=True),
    StructField("source", StringType(), nullable=True)
])

#Offline Transactions Schema
offline_transactions = StructType([
    StructField("transaction_date", DateType(), nullable=False),
    StructField("transaction_id", StringType(), nullable=False),
    StructField("customer_id", LongType(), nullable=False),
    StructField("customer_name", StringType(), nullable=False),
    StructField("customer_email", StringType(), nullable=False),
    StructField("sales_agent_id", StringType(), nullable=False),
    StructField("branch_id", StringType(), nullable=False),
    StructField("product_id", IntegerType(), nullable=False),
    StructField("product_name", StringType(), nullable=False),
    StructField("product_category", StringType(), nullable=False),
    StructField("units", IntegerType(), nullable=False),
    StructField("unit_price", DoubleType(), nullable=False),
    StructField("discount", FloatType(), nullable=False),
    StructField("payment_method", StringType(), nullable=False),
    StructField("sales_agent_name", StringType(), nullable=False),
    StructField("sales_agent_hire_date", DateType(), nullable=False),
    StructField("branch_location", StringType(), nullable=False),
    StructField("branch_establish_date", DateType(), nullable=False),
    StructField("branch_class", StringType(), nullable=False),
    StructField("group", StringType(), nullable=False)
])

#Online Transactions Schema
online_transactions = StructType([
    StructField("transaction_date", DateType(), nullable=False),
    StructField("transaction_id", StringType(), nullable=False),
    StructField("customer_id", LongType(), nullable=False),
    StructField("customer_name", StringType(), nullable=False),
    StructField("cusomter_email", StringType(), nullable=False),
    StructField("product_name", StringType(), nullable=False),
    StructField("product_category", StringType(), nullable=False),
    StructField("units", IntegerType(), nullable=False),
    StructField("unit_price", DoubleType(), nullable=False),
    StructField("discount", FloatType(), nullable=False),
    StructField("payment_method", StringType(), nullable=False),
    StructField("shipping_street_name",  StringType(), nullable=False), 
    StructField("shipping_city",  StringType(), nullable=False),
    StructField("shipping_state",  StringType(), nullable=False),
    StructField("shipping_zip_code",  StringType(), nullable=False),
    StructField("group", StringType(), nullable=False)
])

#Products Schema
products_schema = StructType([
    StructField("product_id", StringType(), nullable=False),
    StructField("product_name", StringType(), nullable=False),
    StructField("product_category", StringType(), nullable=False),
    StructField("unit_price", DoubleType(), nullable=False)   
])

#Customers Schema
customers_schema = StructType([
    StructField("customer_id", LongType(), nullable=False),
    StructField("customer_name", StringType(), nullable=False),
    StructField("cusomter_email", StringType(), nullable=False)
])

#Sales Offline Transactions Schema
offline_transactions = StructType([
    StructField("transaction_id", StringType(), nullable=False),
    StructField("transaction_date", DateType(), nullable=False),
    StructField("customer_id", LongType(), nullable=False),
    StructField("sales_agent_id", StringType(), nullable=False),
    StructField("branch_id", StringType(), nullable=False),
    StructField("product_id", IntegerType(), nullable=False),
    StructField("units", IntegerType(), nullable=False),
    StructField("unit_price", DoubleType(), nullable=False),
    StructField("discount", FloatType(), nullable=False),
    StructField("payment_method", StringType(), nullable=False),
    StructField("group", StringType(), nullable=False)
])

#Sales Online Transactions Schema
online_transactions = StructType([
    StructField("transaction_date", DateType(), nullable=False),
    StructField("transaction_id", StringType(), nullable=False),
    StructField("customer_id", LongType(), nullable=False),
    StructField("product_id", StringType(), nullable=False),
    StructField("units", IntegerType(), nullable=False),
    StructField("unit_price", DoubleType(), nullable=False),
    StructField("discount", FloatType(), nullable=False),
    StructField("payment_method", StringType(), nullable=False),
    StructField("location_id",  StringType(), nullable=False), 
    StructField("group", StringType(), nullable=False)
])

#Branches Schema
branches_schema = StructType([
    StructField("branch_id", StringType(), nullable=False),
    StructField("branch_location", StringType(), nullable=False),
    StructField("branch_establish_date", DateType(), nullable=False),
    StructField("branch_class", StringType(), nullable=False)
])

#Sales Agents Schema
sales_agents_schema = StructType([
    StructField("sales_agent_id", StringType(), nullable=False),
    StructField("sales_agent_name", StringType(), nullable=False),
    StructField("sales_agent_hire_date", DateType(), nullable=False)
])

#Locations Schema
locations_schema = StructType([
    StructField("location_id", StringType(), nullable=False),
    StructField("location_street_name", StringType(), nullable=False),
    StructField("location_city", StringType(), nullable=False),
    StructField("location_state", StringType(), nullable=False),
    StructField("location_zip_code", StringType(), nullable=False)
])

In [107]:
#2. Reading the group ingested data file from the raw layer with inforced schema defintion
raw_df = spark.read.csv("/user/q-company/raw_layer_test/all_groups_merged.csv", schema=raw_dataSchema, header=True)

#3. Generate the surrogate key row_index
raw_df = raw_df.withColumn("row_index", monotonically_increasing_id())

raw_df.show(n=2, truncate=False, vertical=True)

-RECORD 0---------------------------------------
 transaction_date | 2023-05-20
 transaction_id   | trx-152546429674
 customer_id      | 85469
 customer_fname   | Alexander
 customer_lname   | Brown
 customer_email   | alexander.brown@gmail.com""
 sales_agent_id   | 1.0
 branch_id        | 2.0
 product_id       | 22
 product_name     | Coffee Maker
 product_category | Appliances
 offer_1          | null
 offer_2          | null
 offer_3          | null
 offer_4          | null
 offer_5          | null
 units            | 10
 unit_price       | 79.99
 is_online        | no
 payment_method   | Cash
 shipping_address | null
 name             | John Doe
 hire_date        | 2020-06-03
 location         | Los Angeles
 establish_date   | 2016-07-28
 class            | B
 group            | 1
 logs             | null
 source           | null
 row_index        | 0
-RECORD 1---------------------------------------
 transaction_date | 2022-10-25
 transaction_id   | trx-291375327542
 customer_id      | 85512
 customer_fname   | William
 customer_lname   | Brown
 customer_email   | william.brown@gmail.com;
 sales_agent_id   | 3.0
 branch_id        | 1.0
 product_id       | 24
 product_name     | Blender
 product_category | Appliances
 offer_1          | null
 offer_2          | null
 offer_3          | null
 offer_4          | True
 offer_5          | null
 units            | 5
 unit_price       | 49.99
 is_online        | no
 payment_method   | Cash
 shipping_address | null
 name             | Michael Johnson
 hire_date        | 2021-10-03
 location         | New York
 establish_date   | 2017-01-15
 class            | A
 group            | 1
 logs             | null
 source           | null
 row_index        | 1
only showing top 2 rows

In [31]:
#4. Rename some columns names of the sales agents and branches columns
def rename_columns(df: DataFrame) -> DataFrame:
    return df.withColumnRenamed("name", "sales_agent_name") \
                .withColumnRenamed("hire_date", "sales_agent_hire_date") \
                .withColumnRenamed("location", "branch_location") \
                .withColumnRenamed("establish_date", "branch_establish_date") \
                .withColumnRenamed("class", "branch_class") \
                .withColumnRenamed("cusomter_email", "customer_email") \
                .withColumnRenamed("cusomter_lname", "customer_lname") \
    


renamed_df = rename_columns(df)

renamed_df.columns

['transaction_date',
 'transaction_id',
 'customer_id',
 'customer_fname',
 'customer_lname',
 'customer_email',
 'sales_agent_id',
 'branch_id',
 'product_id',
 'product_name',
 'product_category',
 'offer_1',
 'offer_2',
 'offer_3',
 'offer_4',
 'offer_5',
 'units',
 'unit_price',
 'is_online',
 'payment_method',
 'shipping_address',
 'sales_agent_name',
 'sales_agent_hire_date',
 'branch_location',
 'branch_establish_date',
 'branch_class',
 'group']

In [32]:
#5. Remove Blank Columns
def remove_blank_columns(df: DataFrame) -> DataFrame:
    return df.select([c for c in df.columns if df.filter(col(c).isNotNull()).count() > 0])

raw_without_blanks_cols = remove_blank_columns(renamed_df)

raw_without_blanks_cols.show(2, False, True)

-RECORD 0--------------------------------------------
 transaction_date      | 2023-10-18
 transaction_id        | trx-237976222990
 customer_id           | 85517
 customer_fname        | Mia
 customer_lname        | Jones
 customer_email        | mia.jones@outlook.com/
 sales_agent_id        | 6.0
 branch_id             | 1.0
 product_id            | 10
 product_name          | Sandals
 product_category      | Footwear
 offer_1               | null
 offer_2               | null
 offer_3               | null
 offer_4               | null
 offer_5               | true
 units                 | 1
 unit_price            | 39.99
 is_online             | no
 payment_method        | Cash
 shipping_address      | null
 sales_agent_name      | Emma Taylor
 sales_agent_hire_date | 2018-8-9
 branch_location       | New York
 branch_establish_date | 2017-01-15
 branch_class          | A
 group                 | group5
-RECORD 1--------------------------------------------
 transaction_date      | 2022-5-8
 transaction_id        | trx-891084445200
 customer_id           | 85497
 customer_fname        | Michael
 customer_lname        | Williams
 customer_email        | michael.williams@yahoo.com^
 sales_agent_id        | 9.0
 branch_id             | 2.0
 product_id            | 27
 product_name          | Iron
 product_category      | Appliances
 offer_1               | null
 offer_2               | null
 offer_3               | true
 offer_4               | null
 offer_5               | null
 units                 | 1
 unit_price            | 29.99
 is_online             | no
 payment_method        | Credit Card
 shipping_address      | null
 sales_agent_name      | Daniel Martinez
 sales_agent_hire_date | 2019-7-19
 branch_location       | Los Angeles
 branch_establish_date | 2016-07-28
 branch_class          | B
 group                 | group5
only showing top 2 rows

In [33]:
#6. Splitting the shipping address into (shipping_street_name, shipping_city, shipping_state, shipping_zip_code)
def split_shipping_address(df: DataFrame) -> DataFrame:
    return df.withColumn("shipping_address_split", split(col("shipping_address"), "/")) \
                .withColumn("shipping_street_name", col("shipping_address_split")[0]) \
                .withColumn("shipping_city", col("shipping_address_split")[1]) \
                .withColumn("shipping_state", col("shipping_address_split")[2]) \
                .withColumn("shipping_zip_code", col("shipping_address_split")[3]) \
                .drop("shipping_address", "shipping_address_split")

raw_splited_address = split_shipping_address(raw_without_blanks_cols)

raw_splited_address.filter(raw_splited_address.is_online.isin('yes')).show(2, False, True)

-RECORD 0-----------------------------------------------
 transaction_date      | 2022-5-18
 transaction_id        | trx-547684610779
 customer_id           | 85469
 customer_fname        | James
 customer_lname        | Smith
 customer_email        | james.smith@hotmail.com;
 sales_agent_id        | null
 branch_id             | null
 product_id            | 25
 product_name          | Washing Machine
 product_category      | Appliances
 offer_1               | null
 offer_2               | null
 offer_3               | null
 offer_4               | null
 offer_5               | null
 units                 | 1
 unit_price            | 499.99
 is_online             | yes
 payment_method        | Credit Card
 sales_agent_name      | null
 sales_agent_hire_date | null
 branch_location       | null
 branch_establish_date | null
 branch_class          | null
 group                 | group5
 shipping_street_name  | 1333 Farragut Street Northwest
 shipping_city         | Washington
 shipping_state        | DC
 shipping_zip_code     | 20011
-RECORD 1-----------------------------------------------
 transaction_date      | 2023-6-2
 transaction_id        | trx-315847001465
 customer_id           | 85547
 customer_fname        | Emma
 customer_lname        | Miller
 customer_email        | emma.miller@gmail.com]x
 sales_agent_id        | null
 branch_id             | null
 product_id            | 19
 product_name          | Sandals
 product_category      | Footwear
 offer_1               | true
 offer_2               | null
 offer_3               | null
 offer_4               | null
 offer_5               | null
 units                 | 10
 unit_price            | 29.99
 is_online             | yes
 payment_method        | Credit Card
 sales_agent_name      | null
 sales_agent_hire_date | null
 branch_location       | null
 branch_establish_date | null
 branch_class          | null
 group                 | group5
 shipping_street_name  | 5228 North 70th Avenue
 shipping_city         | Glendale
 shipping_state        | AZ
 shipping_zip_code     | 85303
only showing top 2 rows

In [34]:
#7. Mapping the values of the shipping_state columns from abbrevations to a full name 
state_dict = {
    'AZ': 'Arizona',
    'DC': 'District of Columbia',
    'KY': 'Kentucky',
    'CA': 'California',
    'CT': 'Connecticut',
    'VT': 'Vermont',
    'MD': 'Maryland',
    'AL': 'Alabama',
    'TN': 'Tennessee',
    'GA': 'Georgia',
    'MA': 'Massachusetts',
    'FL': 'Florida',
    'CO': 'Colorado',
    'AK': 'Alaska',
    'AR': 'Arkansas',
    'OK': 'Oklahoma',
    'Washington': 'Washington'  
}

def map_shipping_state(spark: SparkSession, df: DataFrame, state_dict: Dict[str, str]) -> DataFrame:
    broadcast_dict = spark.sparkContext.broadcast(state_dict)

    conditions = coalesce(*[when(col("shipping_state") == key, lit(value)) for key, value in broadcast_dict.value.items()])

    df = df.withColumn("shipping_state_mapped", when(conditions.isNotNull(), conditions).otherwise(col("shipping_state")))

    return df


mapped_shipped_state_df = map_shipping_state(spark, raw_splited_address, state_dict)

mapped_shipped_state_df = mapped_shipped_state_df.drop("shipping_state")

mapped_shipped_state_df = mapped_shipped_state_df.withColumnRenamed("shipping_state_mapped", "shipping_state")

mapped_shipped_state_df.filter(mapped_shipped_state_df.is_online.isin('yes')).show(2, False, True)

-RECORD 0-----------------------------------------------
 transaction_date      | 2022-5-18
 transaction_id        | trx-547684610779
 customer_id           | 85469
 customer_fname        | James
 customer_lname        | Smith
 customer_email        | james.smith@hotmail.com;
 sales_agent_id        | null
 branch_id             | null
 product_id            | 25
 product_name          | Washing Machine
 product_category      | Appliances
 offer_1               | null
 offer_2               | null
 offer_3               | null
 offer_4               | null
 offer_5               | null
 units                 | 1
 unit_price            | 499.99
 is_online             | yes
 payment_method        | Credit Card
 sales_agent_name      | null
 sales_agent_hire_date | null
 branch_location       | null
 branch_establish_date | null
 branch_class          | null
 group                 | group5
 shipping_street_name  | 1333 Farragut Street Northwest
 shipping_city         | Washington
 shipping_zip_code     | 20011
 shipping_state        | District of Columbia
-RECORD 1-----------------------------------------------
 transaction_date      | 2023-6-2
 transaction_id        | trx-315847001465
 customer_id           | 85547
 customer_fname        | Emma
 customer_lname        | Miller
 customer_email        | emma.miller@gmail.com]x
 sales_agent_id        | null
 branch_id             | null
 product_id            | 19
 product_name          | Sandals
 product_category      | Footwear
 offer_1               | true
 offer_2               | null
 offer_3               | null
 offer_4               | null
 offer_5               | null
 units                 | 10
 unit_price            | 29.99
 is_online             | yes
 payment_method        | Credit Card
 sales_agent_name      | null
 sales_agent_hire_date | null
 branch_location       | null
 branch_establish_date | null
 branch_class          | null
 group                 | group5
 shipping_street_name  | 5228 North 70th Avenue
 shipping_city         | Glendale
 shipping_zip_code     | 85303
 shipping_state        | Arizona
only showing top 2 rows

In [35]:
#8. Mapping offers columns into a one discount column 
offers_dict = {
    "null": 0.0,
    "offer_1": 0.05,
    "offer_2": 0.1,
    "offer_3": 0.15,
    "offer_4": 0.20,
    "offer_5": 0.25
}

def map_offers_to_discount(spark: SparkSession, df: DataFrame, offers_dict: Dict[str, float]) -> DataFrame:
    broadcast_offers = spark.sparkContext.broadcast(offers_dict)
    
    offer_columns = ["offer_1", "offer_2", "offer_3", "offer_4", "offer_5"]
    
    def create_offer_column(offer_col: str):
        return when(col(offer_col) == lit(True), lit(broadcast_offers.value[offer_col]))
    
    offer_discount_columns = [create_offer_column(offer_col).alias(f"{offer_col}_discount") for offer_col in offer_columns]
    
    df_with_offer_discounts = df.select("*", *offer_discount_columns)
    
    discount_column = coalesce(*[col(f"{offer_col}_discount") for offer_col in offer_columns], lit(broadcast_offers.value["null"]))
    
    return df_with_offer_discounts.withColumn("discount", discount_column.cast(FloatType())) \
                                  .drop(*[f"{offer_col}_discount" for offer_col in offer_columns]) \
                                    .drop("offer_1", "offer_2", "offer_3", "offer_4", "offer_5")

offers_mapped_df = map_offers_to_discount(spark, mapped_shipped_state_df, offers_dict)

offers_mapped_df

+----------------+----------------+-----------+--------------+--------------+--------------------+--------------+---------+----------+-----------------+----------------+-----+----------+---------+--------------+------------------+---------------------+---------------+---------------------+------------+------+--------------------+-------------+-----------------+--------------+--------+
|transaction_date|  transaction_id|customer_id|customer_fname|customer_lname|      customer_email|sales_agent_id|branch_id|product_id|     product_name|product_category|units|unit_price|is_online|payment_method|  sales_agent_name|sales_agent_hire_date|branch_location|branch_establish_date|branch_class| group|shipping_street_name|shipping_city|shipping_zip_code|shipping_state|discount|
+----------------+----------------+-----------+--------------+--------------+--------------------+--------------+---------+----------+-----------------+----------------+-----+----------+---------+--------------+------------------+---------------------+---------------+---------------------+------------+------+--------------------+-------------+-----------------+--------------+--------+
|      2023-10-18|trx-237976222990|      85517|           Mia|         Jones|mia.jones@outlook...|           6.0|      1.0|        10|          Sandals|        Footwear|    1|     39.99|       no|          Cash|       Emma Taylor|             2018-8-9|       New York|           2017-01-15|           A|group5|                null|         null|             null|          null|    0.25|
|        2022-5-8|trx-891084445200|      85497|       Michael|      Williams|michael.williams@...|           9.0|      2.0|        27|             Iron|      Appliances|    1|     29.99|       no|   Credit Card|   Daniel Martinez|            2019-7-19|    Los Angeles|           2016-07-28|           B|group5|                null|         null|             null|          null|    0.15|
|      2022-11-20|trx-911377237189|      85485|         James|       Johnson|james.johnson@hot...|           6.0|      5.0|         9|            Boots|        Footwear|    8|    129.99|       no|          Cash|       Emma Taylor|             2018-8-9|        Phoenix|           2017-09-20|           C|group5|                null|         null|             null|          null|     0.0|
|       2023-5-18|trx-121263458494|      85468|       William|         Moore|william.moore@out...|           9.0|      6.0|         1|           Laptop|     Electronics|    4|    999.99|       no|   Credit Card|   Daniel Martinez|            2019-7-19|       Oklahoma|           2016-09-20|           A|group5|                null|         null|             null|          null|    0.05|
|        2022-2-7|trx-617255070261|      85535|        Olivia|       Johnson|olivia.johnson@ya...|           4.0|      4.0|        30|  Electric Kettle|      Appliances|    3|     24.99|       no|          Cash|       Emily Brown|           2018-11-12|        Houston|           2016-11-05|           D|group5|                null|         null|             null|          null|     0.0|
|        2022-2-4|trx-110203063855|      85545|       William|        Taylor|william.taylor@ho...|           5.0|      2.0|         9|            Boots|        Footwear|    7|    129.99|       no|          Cash|      David Wilson|            2020-6-23|    Los Angeles|           2016-07-28|           B|group5|                null|         null|             null|          null|     0.0|
|        2022-9-8|trx-013322439991|      85552|          John|        Wilson|john.wilson@yahoo...|           8.0|      5.0|        29|Hair Straightener|      Appliances|    4|     39.99|       no|   Credit Card|      Olivia Davis|            2019-12-8|        Phoenix|           2017-09-20|           C|group5|                null|         null|             null|          null|    0.05|
|       2022-11-2|trx-443629484380|      85515|         James|        Miller|james.miller@gmai...|           6.0|      5.0|        28|       Hair Dryer|      Appliances|    5|     19.99|       no|   Credit Card|       Emma Taylor|             2018-8-9|        Phoenix|           2017-09-20|           C|group5|                null|         null|             null|          null|     0.1|
|      2023-10-12|trx-922479550468|      85494|        Sophia|         Moore|sophia.moore@gmai...|          11.0|      2.0|         7|            Dress|        Clothing|    5|     59.99|       no|   Credit Card|         john wick|            2018-7-10|    Los Angeles|           2016-07-28|           B|group5|                null|         null|             null|          null|    0.15|
|       2022-11-5|trx-954632465852|      85552|          John|        Wilson|john.wilson@yahoo...|           2.0|      2.0|        24|          Blender|      Appliances|    3|     49.99|       no|   Credit Card|        Jane Smith|             2021-6-8|    Los Angeles|           2016-07-28|           B|group5|                null|         null|             null|          null|     0.0|
|      2023-12-28|trx-759789154144|      85467|        Sophia|        Wilson|sophia.wilson@yah...|           2.0|      6.0|         1|           Laptop|     Electronics|    4|    999.99|       no|          Cash|        Jane Smith|             2021-6-8|       Oklahoma|           2016-09-20|           A|group5|                null|         null|             null|          null|     0.0|
|       2023-12-7|trx-022416154142|      85480|          Emma|         Jones|emma.jones@hotmai...|           6.0|      1.0|        15|           Hoodie|        Clothing|    5|     29.99|       no|   Credit Card|       Emma Taylor|             2018-8-9|       New York|           2017-01-15|           A|group5|                null|         null|             null|          null|    0.05|
|       2023-11-4|trx-868990956760|      85482|          Emma|         Moore|emma.moore@gmail....|           4.0|      5.0|         7|            Dress|        Clothing|    8|     59.99|       no|          Cash|       Emily Brown|           2018-11-12|        Phoenix|           2017-09-20|           C|group5|                null|         null|             null|          null|    0.25|
|       2023-12-1|trx-562802863935|      85555|         James|         Smith|james.smith@yahoo...|           5.0|      1.0|        24|          Blender|      Appliances|    7|     49.99|       no|          Cash|      David Wilson|            2020-6-23|       New York|           2017-01-15|           A|group5|                null|         null|             null|          null|     0.2|
|       2022-3-12|trx-804928176409|      85516|           Mia|        Miller|mia.miller@hotmai...|          11.0|      3.0|         9|            Boots|        Footwear|   10|    129.99|       no|          Cash|         john wick|            2018-7-10|        Chicago|           2015-03-10|           A|group5|                null|         null|             null|          null|     0.0|
|       2023-4-12|trx-805987890738|      85478|          John|       Johnson|john.johnson@hotm...|           7.0|      6.0|        28|       Hair Dryer|      Appliances|    7|     19.99|       no|   Credit Card|Christopher Miller|             2018-7-5|       Oklahoma|           2016-09-20|           A|group5|                null|         null|             null|          null|    0.05|
|       2022-7-28|trx-142590798830|      85469|         James|         Smith|james.smith@hotma...|           4.0|      6.0|        17|           Blouse|        Clothing|   10|     29.99|       no|   Credit Card|       Emily Brown|           2018-11-12|       Oklahoma|           2016-09-20|           A|group5|                null|         null|             null|          null|     0.1|
|       2023-8-19|trx-299887764878|      85482|          Emma|         Moore|emma.moore@gmail....|           7.0|      6.0|         5|          T-Shirt|        Clothing|    5|     19.99|       no|          Cash|Christopher Miller|             2018-7-5|       Oklahoma|           2016-09-20|           A|group5|                null|         null|             null|          null|     0.0|
|       2022-3-19|trx-521009740073|      85558|          Emma|         Moore|emma.moore@hotmai...|           3.0|      1.0|         7|            Dress|        Clothing|    7|     59.99|       no|   Credit Card|   Michael Johnson|            2019-7-22|       New York|           2017-01-15|           A|group5|                null|         null|             null|          null|     0.1|
|       2022-2-10|trx-417687722478|      85473|     Alexander|         Moore|alexander.moore@g...|           3.0|      1.0|        27|             Iron|      Appliances|   10|     29.99|       no|   Credit Card|   Michael Johnson|            2019-7-22|       New York|           2017-01-15|           A|group5|                null|         null|             null|          null|     0.0|
+----------------+----------------+-----------+--------------+--------------+--------------------+--------------+---------+----------+-----------------+----------------+-----+----------+---------+--------------+------------------+---------------------+---------------+---------------------+------------+------+--------------------+-------------+-----------------+--------------+--------+
only showing top 20 rows

In [36]:
#9. Merge customer first name and second name into customer name column 
def merge_customer_name(df: DataFrame) -> DataFrame:
        return df.withColumn("customer_name", concat(col("customer_fname"), lit(" "),col("customer_lname"))) \
                 .drop("customer_fname", "customer_lname")

merged_custname_df = merge_customer_name(offers_mapped_df)

merged_custname_df.filter(merged_custname_df.is_online.isin('yes')).show(5, False, True)

-RECORD 0-----------------------------------------------
 transaction_date      | 2022-5-18
 transaction_id        | trx-547684610779
 customer_id           | 85469
 customer_email        | james.smith@hotmail.com;
 sales_agent_id        | null
 branch_id             | null
 product_id            | 25
 product_name          | Washing Machine
 product_category      | Appliances
 units                 | 1
 unit_price            | 499.99
 is_online             | yes
 payment_method        | Credit Card
 sales_agent_name      | null
 sales_agent_hire_date | null
 branch_location       | null
 branch_establish_date | null
 branch_class          | null
 group                 | group5
 shipping_street_name  | 1333 Farragut Street Northwest
 shipping_city         | Washington
 shipping_zip_code     | 20011
 shipping_state        | District of Columbia
 discount              | 0.0
 customer_name         | James Smith
-RECORD 1-----------------------------------------------
 transaction_date      | 2023-6-2
 transaction_id        | trx-315847001465
 customer_id           | 85547
 customer_email        | emma.miller@gmail.com]x
 sales_agent_id        | null
 branch_id             | null
 product_id            | 19
 product_name          | Sandals
 product_category      | Footwear
 units                 | 10
 unit_price            | 29.99
 is_online             | yes
 payment_method        | Credit Card
 sales_agent_name      | null
 sales_agent_hire_date | null
 branch_location       | null
 branch_establish_date | null
 branch_class          | null
 group                 | group5
 shipping_street_name  | 5228 North 70th Avenue
 shipping_city         | Glendale
 shipping_zip_code     | 85303
 shipping_state        | Arizona
 discount              | 0.05
 customer_name         | Emma Miller
-RECORD 2-----------------------------------------------
 transaction_date      | 2022-10-12
 transaction_id        | trx-430083127220
 customer_id           | 85554
 customer_email        | ava.wilson@outlook.com)x
 sales_agent_id        | null
 branch_id             | null
 product_id            | 1
 product_name          | Laptop
 product_category      | Electronics
 units                 | 4
 unit_price            | 999.99
 is_online             | yes
 payment_method        | Stripe
 sales_agent_name      | null
 sales_agent_hire_date | null
 branch_location       | null
 branch_establish_date | null
 branch_class          | null
 group                 | group5
 shipping_street_name  | 2100 North Leverett Avenue
 shipping_city         | Fayetteville
 shipping_zip_code     | 72703
 shipping_state        | Arkansas
 discount              | 0.05
 customer_name         | Ava Wilson
-RECORD 3-----------------------------------------------
 transaction_date      | 2022-7-6
 transaction_id        | trx-011128068389
 customer_id           | 85519
 customer_email        | emma.wilson@hotmail.com"
 sales_agent_id        | null
 branch_id             | null
 product_id            | 26
 product_name          | Vacuum Cleaner
 product_category      | Appliances
 units                 | 10
 unit_price            | 199.99
 is_online             | yes
 payment_method        | Credit Card
 sales_agent_name      | null
 sales_agent_hire_date | null
 branch_location       | null
 branch_establish_date | null
 branch_class          | null
 group                 | group5
 shipping_street_name  | 621 Northwest 94th Street
 shipping_city         | Oklahoma City
 shipping_zip_code     | 73114
 shipping_state        | Oklahoma
 discount              | 0.2
 customer_name         | Emma Wilson
-RECORD 4-----------------------------------------------
 transaction_date      | 2023-2-19
 transaction_id        | trx-826017596748
 customer_id           | 85529
 customer_email        | james.wilson@hotmail.com%x
 sales_agent_id        | null
 branch_id             | null
 product_id            | 22
 product_name          | Coffee Maker
 product_category      | Appliances
 units                 | 10
 unit_price            | 79.99
 is_online             | yes
 payment_method        | Credit Card
 sales_agent_name      | null
 sales_agent_hire_date | null
 branch_location       | null
 branch_establish_date | null
 branch_class          | null
 group                 | group5
 shipping_street_name  | 2010 Rising Hill Drive
 shipping_city         | Norman
 shipping_zip_code     | 73071
 shipping_state        | Oklahoma
 discount              | 0.0
 customer_name         | James Wilson
only showing top 5 rows

In [37]:
#10. clean customer email into valid email formt
def clean_email(email: str) -> str:
    if email is None:
        return None
    
    email = email.strip()
    com = email.rfind('.')
    email = email[:com+1] + ".com"
    
    email = re.sub(r'([a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}).*', r'\1', email)
    
    if re.match(r'^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$', email):
        return email
    else:
        return None  

clean_email_udf = udf(clean_email, StringType())

df_cleaned = merged_custname_df.withColumn("cleaned_email", clean_email_udf(merged_custname_df["customer_email"]))

df_cleaned = df_cleaned.drop("customer_email")

df_cleaned = df_cleaned.withColumnRenamed("cleaned_email", "customer_email")

df_cleaned.show(10, False, True)

-RECORD 0--------------------------------------------
 transaction_date      | 2023-10-18
 transaction_id        | trx-237976222990
 customer_id           | 85517
 sales_agent_id        | 6.0
 branch_id             | 1.0
 product_id            | 10
 product_name          | Sandals
 product_category      | Footwear
 units                 | 1
 unit_price            | 39.99
 is_online             | no
 payment_method        | Cash
 sales_agent_name      | Emma Taylor
 sales_agent_hire_date | 2018-8-9
 branch_location       | New York
 branch_establish_date | 2017-01-15
 branch_class          | A
 group                 | group5
 shipping_street_name  | null
 shipping_city         | null
 shipping_zip_code     | null
 shipping_state        | null
 discount              | 0.25
 customer_name         | Mia Jones
 customer_email        | mia.jones@outlook..com
-RECORD 1--------------------------------------------
 transaction_date      | 2022-5-8
 transaction_id        | trx-891084445200
 customer_id           | 85497
 sales_agent_id        | 9.0
 branch_id             | 2.0
 product_id            | 27
 product_name          | Iron
 product_category      | Appliances
 units                 | 1
 unit_price            | 29.99
 is_online             | no
 payment_method        | Credit Card
 sales_agent_name      | Daniel Martinez
 sales_agent_hire_date | 2019-7-19
 branch_location       | Los Angeles
 branch_establish_date | 2016-07-28
 branch_class          | B
 group                 | group5
 shipping_street_name  | null
 shipping_city         | null
 shipping_zip_code     | null
 shipping_state        | null
 discount              | 0.15
 customer_name         | Michael Williams
 customer_email        | michael.williams@yahoo..com
-RECORD 2--------------------------------------------
 transaction_date      | 2022-11-20
 transaction_id        | trx-911377237189
 customer_id           | 85485
 sales_agent_id        | 6.0
 branch_id             | 5.0
 product_id            | 9
 product_name          | Boots
 product_category      | Footwear
 units                 | 8
 unit_price            | 129.99
 is_online             | no
 payment_method        | Cash
 sales_agent_name      | Emma Taylor
 sales_agent_hire_date | 2018-8-9
 branch_location       | Phoenix
 branch_establish_date | 2017-09-20
 branch_class          | C
 group                 | group5
 shipping_street_name  | null
 shipping_city         | null
 shipping_zip_code     | null
 shipping_state        | null
 discount              | 0.0
 customer_name         | James Johnson
 customer_email        | james.johnson@hotmail..com
-RECORD 3--------------------------------------------
 transaction_date      | 2023-5-18
 transaction_id        | trx-121263458494
 customer_id           | 85468
 sales_agent_id        | 9.0
 branch_id             | 6.0
 product_id            | 1
 product_name          | Laptop
 product_category      | Electronics
 units                 | 4
 unit_price            | 999.99
 is_online             | no
 payment_method        | Credit Card
 sales_agent_name      | Daniel Martinez
 sales_agent_hire_date | 2019-7-19
 branch_location       | Oklahoma
 branch_establish_date | 2016-09-20
 branch_class          | A
 group                 | group5
 shipping_street_name  | null
 shipping_city         | null
 shipping_zip_code     | null
 shipping_state        | null
 discount              | 0.05
 customer_name         | William Moore
 customer_email        | william.moore@outlook..com
-RECORD 4--------------------------------------------
 transaction_date      | 2022-2-7
 transaction_id        | trx-617255070261
 customer_id           | 85535
 sales_agent_id        | 4.0
 branch_id             | 4.0
 product_id            | 30
 product_name          | Electric Kettle
 product_category      | Appliances
 units                 | 3
 unit_price            | 24.99
 is_online             | no
 payment_method        | Cash
 sales_agent_name      | Emily Brown
 sales_agent_hire_date | 2018-11-12
 branch_location       | Houston
 branch_establish_date | 2016-11-05
 branch_class          | D
 group                 | group5
 shipping_street_name  | null
 shipping_city         | null
 shipping_zip_code     | null
 shipping_state        | null
 discount              | 0.0
 customer_name         | Olivia Johnson
 customer_email        | olivia.johnson@yahoo..com
-RECORD 5--------------------------------------------
 transaction_date      | 2022-2-4
 transaction_id        | trx-110203063855
 customer_id           | 85545
 sales_agent_id        | 5.0
 branch_id             | 2.0
 product_id            | 9
 product_name          | Boots
 product_category      | Footwear
 units                 | 7
 unit_price            | 129.99
 is_online             | no
 payment_method        | Cash
 sales_agent_name      | David Wilson
 sales_agent_hire_date | 2020-6-23
 branch_location       | Los Angeles
 branch_establish_date | 2016-07-28
 branch_class          | B
 group                 | group5
 shipping_street_name  | null
 shipping_city         | null
 shipping_zip_code     | null
 shipping_state        | null
 discount              | 0.0
 customer_name         | William Taylor
 customer_email        | william.taylor@hotmail..com
-RECORD 6--------------------------------------------
 transaction_date      | 2022-9-8
 transaction_id        | trx-013322439991
 customer_id           | 85552
 sales_agent_id        | 8.0
 branch_id             | 5.0
 product_id            | 29
 product_name          | Hair Straightener
 product_category      | Appliances
 units                 | 4
 unit_price            | 39.99
 is_online             | no
 payment_method        | Credit Card
 sales_agent_name      | Olivia Davis
 sales_agent_hire_date | 2019-12-8
 branch_location       | Phoenix
 branch_establish_date | 2017-09-20
 branch_class          | C
 group                 | group5
 shipping_street_name  | null
 shipping_city         | null
 shipping_zip_code     | null
 shipping_state        | null
 discount              | 0.05
 customer_name         | John Wilson
 customer_email        | john.wilson@yahoo..com
-RECORD 7--------------------------------------------
 transaction_date      | 2022-11-2
 transaction_id        | trx-443629484380
 customer_id           | 85515
 sales_agent_id        | 6.0
 branch_id             | 5.0
 product_id            | 28
 product_name          | Hair Dryer
 product_category      | Appliances
 units                 | 5
 unit_price            | 19.99
 is_online             | no
 payment_method        | Credit Card
 sales_agent_name      | Emma Taylor
 sales_agent_hire_date | 2018-8-9
 branch_location       | Phoenix
 branch_establish_date | 2017-09-20
 branch_class          | C
 group                 | group5
 shipping_street_name  | null
 shipping_city         | null
 shipping_zip_code     | null
 shipping_state        | null
 discount              | 0.1
 customer_name         | James Miller
 customer_email        | james.miller@gmail..com
-RECORD 8--------------------------------------------
 transaction_date      | 2023-10-12
 transaction_id        | trx-922479550468
 customer_id           | 85494
 sales_agent_id        | 11.0
 branch_id             | 2.0
 product_id            | 7
 product_name          | Dress
 product_category      | Clothing
 units                 | 5
 unit_price            | 59.99
 is_online             | no
 payment_method        | Credit Card
 sales_agent_name      | john wick
 sales_agent_hire_date | 2018-7-10
 branch_location       | Los Angeles
 branch_establish_date | 2016-07-28
 branch_class          | B
 group                 | group5
 shipping_street_name  | null
 shipping_city         | null
 shipping_zip_code     | null
 shipping_state        | null
 discount              | 0.15
 customer_name         | Sophia Moore
 customer_email        | sophia.moore@gmail..com
-RECORD 9--------------------------------------------
 transaction_date      | 2022-11-5
 transaction_id        | trx-954632465852
 customer_id           | 85552
 sales_agent_id        | 2.0
 branch_id             | 2.0
 product_id            | 24
 product_name          | Blender
 product_category      | Appliances
 units                 | 3
 unit_price            | 49.99
 is_online             | no
 payment_method        | Credit Card
 sales_agent_name      | Jane Smith
 sales_agent_hire_date | 2021-6-8
 branch_location       | Los Angeles
 branch_establish_date | 2016-07-28
 branch_class          | B
 group                 | group5
 shipping_street_name  | null
 shipping_city         | null
 shipping_zip_code     | null
 shipping_state        | null
 discount              | 0.0
 customer_name         | John Wilson
 customer_email        | john.wilson@yahoo..com
only showing top 10 rows

In [38]:
#11. clean the transaction_id and validate it's format
def validate_transaction_id(trx_id: str) -> str:
    if trx_id is None:
        return None
    
    trx_id = trx_id.strip()
    
    numeric_part = re.sub(r'\D', '', trx_id)
    
    if not numeric_part:
        return None
    
    valid_trx_id = f"trx-{numeric_part}"
    
    return valid_trx_id

validate_transaction_id = udf(validate_transaction_id, StringType())

df_cleaned = df_cleaned.withColumn("cleaned_transaction_id", validate_transaction_id(df["transaction_id"]))

df_cleaned = df_cleaned.drop("transaction_id")

df_cleaned = df_cleaned.withColumnRenamed("cleaned_transaction_id", "transaction_id")

df_cleaned.show(2, False, True)

-RECORD 0--------------------------------------------
 transaction_date      | 2023-10-18
 customer_id           | 85517
 sales_agent_id        | 6.0
 branch_id             | 1.0
 product_id            | 10
 product_name          | Sandals
 product_category      | Footwear
 units                 | 1
 unit_price            | 39.99
 is_online             | no
 payment_method        | Cash
 sales_agent_name      | Emma Taylor
 sales_agent_hire_date | 2018-8-9
 branch_location       | New York
 branch_establish_date | 2017-01-15
 branch_class          | A
 group                 | group5
 shipping_street_name  | null
 shipping_city         | null
 shipping_zip_code     | null
 shipping_state        | null
 discount              | 0.25
 customer_name         | Mia Jones
 customer_email        | mia.jones@outlook..com
 transaction_id        | trx-237976222990
-RECORD 1--------------------------------------------
 transaction_date      | 2022-5-8
 customer_id           | 85497
 sales_agent_id        | 9.0
 branch_id             | 2.0
 product_id            | 27
 product_name          | Iron
 product_category      | Appliances
 units                 | 1
 unit_price            | 29.99
 is_online             | no
 payment_method        | Credit Card
 sales_agent_name      | Daniel Martinez
 sales_agent_hire_date | 2019-7-19
 branch_location       | Los Angeles
 branch_establish_date | 2016-07-28
 branch_class          | B
 group                 | group5
 shipping_street_name  | null
 shipping_city         | null
 shipping_zip_code     | null
 shipping_state        | null
 discount              | 0.15
 customer_name         | Michael Williams
 customer_email        | michael.williams@yahoo..com
 transaction_id        | trx-891084445200
only showing top 2 rows

In [40]:
#12. validate the unit price column 
def validate_unit_price(price: float) -> float:
    if price is None:
        return None
    
    return price if price >= 0 else -1 * price
    
validate_unit_price_udf = udf(validate_unit_price, DoubleType())

df_cleaned = df_cleaned.withColumn("validated_unit_price", validate_unit_price_udf(df["unit_price"]))

df_cleaned = df_cleaned.drop("unit_price")

df_cleaned = df_cleaned.withColumnRenamed("validated_unit_price", "unit_price")

df_cleaned.show(2, False, True)

-RECORD 0--------------------------------------------
 transaction_date      | 2023-10-18
 customer_id           | 85517
 sales_agent_id        | 6.0
 branch_id             | 1.0
 product_id            | 10
 product_name          | Sandals
 product_category      | Footwear
 units                 | 1
 is_online             | no
 payment_method        | Cash
 sales_agent_name      | Emma Taylor
 sales_agent_hire_date | 2018-8-9
 branch_location       | New York
 branch_establish_date | 2017-01-15
 branch_class          | A
 group                 | group5
 shipping_street_name  | null
 shipping_city         | null
 shipping_zip_code     | null
 shipping_state        | null
 discount              | 0.25
 customer_name         | Mia Jones
 customer_email        | mia.jones@outlook..com
 transaction_id        | trx-237976222990
 unit_price            | 39.99
-RECORD 1--------------------------------------------
 transaction_date      | 2022-5-8
 customer_id           | 85497
 sales_agent_id        | 9.0
 branch_id             | 2.0
 product_id            | 27
 product_name          | Iron
 product_category      | Appliances
 units                 | 1
 is_online             | no
 payment_method        | Credit Card
 sales_agent_name      | Daniel Martinez
 sales_agent_hire_date | 2019-7-19
 branch_location       | Los Angeles
 branch_establish_date | 2016-07-28
 branch_class          | B
 group                 | group5
 shipping_street_name  | null
 shipping_city         | null
 shipping_zip_code     | null
 shipping_state        | null
 discount              | 0.15
 customer_name         | Michael Williams
 customer_email        | michael.williams@yahoo..com
 transaction_id        | trx-891084445200
 unit_price            | 29.99
only showing top 2 rows

In [41]:
#13. Convert some data types to valid types
def convert_dates_to_date_type(df):
    return df.withColumn('transaction_date', to_date(col('transaction_date'))) \
             .withColumn('branch_establish_date', to_date(col('branch_establish_date'))) \
             .withColumn('sales_agent_hire_date', to_date(col('sales_agent_hire_date')))

def convert_ids_to_long_type(df):
    return df.withColumn('sales_agent_id', col('sales_agent_id').cast(LongType())) \
             .withColumn('branch_id', col('branch_id').cast(LongType()))

In [43]:
df_cleaned = convert_dates_to_date_type(df_cleaned)

In [45]:
#14 . Rearrange the order of columns in the schema
def rearrange_columns(df):
    new_order = [
        'transaction_id', 'transaction_date', 'customer_id', 'customer_name', 'customer_email',
        'product_id', 'product_name', 'product_category', 'units', 'unit_price', 'discount',
        'payment_method', 'group', 'is_online', 'sales_agent_id', 'sales_agent_name',
        'sales_agent_hire_date', 'branch_id', 'branch_location', 'branch_class',
        'shipping_street_name', 'shipping_city', 'shipping_state', 'shipping_zip_code'
    ]
    return df.select(new_order)

df_cleaned = rearrange_columns(df_cleaned)

In [99]:
#1. Build Reference Data

#get unique values of product category and product name
products = df_cleaned.select("product_name").distinct()
product_category = df_cleaned.select("product_category").distinct()
product_category_distinct = df_cleaned.select("product_category", "product_name").distinct()

#get unique values of shipping locations
shipping_locations = df_cleaned.select("shipping_street_name", "shipping_state", 
                                       "shipping_city", "shipping_zip_code").distinct()
shipping_street_names = df_cleaned.select("shipping_street_name").distinct()
shipping_states = df_cleaned.select("shipping_state").distinct()
shipping_cities = df_cleaned.select("shipping_city").distinct()
shipping_zip_code = df_cleaned.select("shipping_zip_code").distinct()

#get unique branch location, class
branch_locations = df_cleaned.select("branch_location").distinct()
branch_classes = df_cleaned.select("branch_class").distinct()

#get unique groups
groups = df_cleaned.select("group").distinct()

In [157]:
online_df = result_df.filter("is_online == 'yes'").drop("sales_agent_id", "branch_id", "sales_agent_name", 
                                                         "sales_agent_hire_date", "branch_location",
                                                         "branch_establish_date", "branch_class")
offline_df = result_df.filter("is_online == 'no'").drop("shipping_street_name", "shipping_city", 
                                                        "shipping_state", "shipping_zip_code")

In [164]:
offline_df.coalesce(1)
online_df.coalesce(1)

+----------------+----------------+-----------+--------------------+----------+-----------------+----------------+-----+----------+---------+--------------+-----+---------+--------------------+-------------+--------------+-----------------+--------+---------------+
|transaction_date|  transaction_id|customer_id|      customer_email|product_id|     product_name|product_category|units|unit_price|is_online|payment_method|group|row_index|shipping_street_name|shipping_city|shipping_state|shipping_zip_code|discount|  customer_name|
+----------------+----------------+-----------+--------------------+----------+-----------------+----------------+-----+----------+---------+--------------+-----+---------+--------------------+-------------+--------------+-----------------+--------+---------------+
|      2022-11-24|trx-630807021567|      85541|ava.jones@hotmail...|        27|             Iron|      Appliances|    6|     29.99|      yes|   Credit Card|    1|        0| 43 Henderson Avenue|     Savannah|            GA|            31406|     0.0|      Ava Jones|
|      2023-01-20|trx-231766088020|      85550|emma.taylor@gmail...|         8|         Sneakers|        Footwear|    6|     79.99|      yes|        PayPal|    1|        1|     8 Linden Circle|   Somerville|            MA|            02143|     0.0|    Emma Taylor|
|      2022-10-18|trx-334836612567|      85479|james.jones@outlo...|         6|            Jeans|        Clothing|    2|     49.99|      yes|        Stripe|    1|        2| 1139 Addison Street|     Berkeley|            CA|            94702|    0.15|    James Jones|
|      2022-04-06|trx-678424403739|      85551|michael.johnson@y...|        10|          Sandals|        Footwear|    3|     39.99|      yes|   Credit Card|    1|        3|  521 McGregor Court|   Montgomery|            AL|            36117|     0.0|Michael Johnson|
|      2022-08-09|trx-034026221655|      85470|ava.wilson@hotmai...|         3|           Tablet|     Electronics|    6|    299.99|      yes|        Stripe|    1|        4|10802 Brickside C...|    Riverview|            FL|            33579|     0.0|     Ava Wilson|
|      2023-10-27|trx-334049470367|      85507|ava.miller@outloo...|        25|  Washing Machine|      Appliances|    5|    499.99|      yes|   Credit Card|    1|        5| 131 Westerly Street|   Manchester|            CT|            06042|     0.2|     Ava Miller|
|      2023-03-14|trx-354281638130|      85466|michael.brown@yah...|        16|            Skirt|        Clothing|    9|     39.99|      yes|        PayPal|    1|        6|5403 Illinois Avenue|    Nashville|            TN|            37209|     0.0|  Michael Brown|
|      2023-11-06|trx-919712049046|      85493|james.johnson@gma...|        27|             Iron|      Appliances|    6|     29.99|      yes|   Credit Card|    1|        7|10304 North 179th...|      Waddell|            AZ|            85355|     0.2|  James Johnson|
|      2023-02-17|trx-947364728949|      85550|emma.taylor@gmail...|        20|            Heels|        Footwear|    9|     59.99|      yes|        Stripe|    1|        8|10340 West 62nd P...|       Arvada|            CO|            80004|     0.0|    Emma Taylor|
|      2023-01-12|trx-624869757221|      85499|sophia.miller@hot...|         3|           Tablet|     Electronics|    1|    299.99|      yes|        PayPal|    1|        9|    629 Cutter Court|    Annapolis|            MD|            21401|     0.0|  Sophia Miller|
|      2022-06-05|trx-091162063212|      85548|mia.davis@yahoo.com(|        15|           Hoodie|        Clothing|    1|     29.99|      yes|        PayPal|    1|       10| 8376 Albacore Drive|     Pasadena|            MD|            21122|     0.2|      Mia Davis|
|      2022-04-21|trx-174756507013|      85535|william.taylor@ho...|        29|Hair Straightener|      Appliances|    5|     39.99|      yes|   Credit Card|    1|       11|   355 Gillette Road|    Nashville|            TN|            37211|     0.1| William Taylor|
|      2023-11-15|trx-143869871292|      85467|alexander.jones@y...|        27|             Iron|      Appliances|    5|     29.99|      yes|        PayPal|    1|       12|    265 Airport Road|Weathersfield|            VT|            05151|     0.0|Alexander Jones|
|      2022-07-21|trx-269534893579|      85498|olivia.davis@hotm...|        25|  Washing Machine|      Appliances|    9|    499.99|      yes|        PayPal|    1|       13|     9 Thomas Street|      Ashland|            MA|            01721|     0.1|   Olivia Davis|
|      2022-04-13|trx-000911844886|      85473|sophia.miller@yah...|        25|  Washing Machine|      Appliances|    4|    499.99|      yes|        PayPal|    1|       14|   351 Porter Street|   Manchester|            CT|            06040|     0.0|  Sophia Miller|
|      2023-09-13|trx-280508747748|      85469|alexander.brown@g...|        30|  Electric Kettle|      Appliances|    4|     24.99|      yes|        Stripe|    1|       15|7427 West Abraham...|     Glendale|            AZ|            85308|     0.2|Alexander Brown|
|      2023-10-09|trx-232468042946|      85556|william.davis@out...|        12|          Monitor|     Electronics|    5|    299.99|      yes|        PayPal|    1|       16|14213 Doc Hawley ...|   Louisville|            KY|            40245|     0.1|  William Davis|
|      2023-10-15|trx-280212531803|      85555|mia.johnson@hotma...|        22|     Coffee Maker|      Appliances|    1|     79.99|      yes|        PayPal|    1|       17| 5708 Beverly Street|     Savannah|            GA|            31405|     0.0|    Mia Johnson|
|      2022-01-16|trx-364956663862|      85542|james.miller@yaho...|        24|          Blender|      Appliances|    7|     49.99|      yes|   Credit Card|    1|       18| 1744 Shoreham Drive|   Montgomery|            AL|            36106|     0.1|   James Miller|
|      2023-06-12|trx-948366137391|      85483|john.johnson@yaho...|        30|  Electric Kettle|      Appliances|    2|     24.99|      yes|        PayPal|    1|       19|7027 West Phelps ...|       Peoria|            AZ|            85382|    0.15|   John Johnson|
+----------------+----------------+-----------+--------------------+----------+-----------------+----------------+-----+----------+---------+--------------+-----+---------+--------------------+-------------+--------------+-----------------+--------+---------------+
only showing top 20 rows

In [166]:
offline_df.write.csv("file:///data/dd/offline.csv")

In [167]:
online_df.write.csv("file:///data/dd/online.csv")

In [52]:
spark.stop()