In [1]:
from pyspark.sql import SparkSession, DataFrame
from pyspark.sql.types import *
from pyspark.sql.window import Window
from itertools import chain 
from typing import Dict
from pyspark.sql.functions import col, lit, when, coalesce, split, concat, udf, concat_ws, row_number, \
                                    regexp_replace, lower, monotonically_increasing_id, regexp_extract, create_map
import re 
from datetime import datetime 
import os

In [2]:
from pyspark.sql import SparkSession, DataFrame
from pyspark.sql.types import *
from datetime import datetime

# Configuration
class Config:
    RAW_BASE_PATH = "/user/itversity/q-company_raw_layer"
    STANDARDIZED_BASE_PATH = "/user/itversity/q-company_standardized_layer"
    CONFORMED_NORMALIZED_BASE_PATH = "/user/itversity/q-company_conformed_layer/normalized_model"
    CONFORMED_DENORMALIZED_BASE_PATH = "/user/itversity/q-company_conformed_layer/denormalized_model"
    
class Schemas:
    sales_transcation_schema = StructType([
            StructField("transaction_date", DateType(), nullable=False),
            StructField("transaction_id", StringType(), nullable=False),
            StructField("customer_id", LongType(), nullable=False),
            StructField("customer_fname", StringType(), nullable=False),
            StructField("customer_lname", StringType(), nullable=False),
            StructField("customer_email", StringType(), nullable=False),
            StructField("sales_agent_id", LongType(), nullable=True),
            StructField("branch_id", LongType(), nullable=True),
            StructField("product_id", LongType(), nullable=False),
            StructField("product_name", StringType(), nullable=False),
            StructField("product_category", StringType(), nullable=False),
            StructField("offer_1", StringType(), nullable=True),
            StructField("offer_2", StringType(), nullable=True),
            StructField("offer_3", StringType(), nullable=True),
            StructField("offer_4", StringType(), nullable=True),
            StructField("offer_5", StringType(), nullable=True),
            StructField("units", LongType(), nullable=False),
            StructField("unit_price", DoubleType(), nullable=False),
            StructField("is_online", StringType(), nullable=False),
            StructField("payment_method", StringType(), nullable=False),
            StructField("shipping_address", StringType(), nullable=True),
            StructField("name", StringType(), nullable=True),
            StructField("hire_date", DateType(), nullable=True),
            StructField("location", StringType(), nullable=True),
            StructField("establish_date", DateType(), nullable=True),
            StructField("class", StringType(), nullable=True),
            StructField("group", StringType(), nullable=False)
        ])

    offline_sales_transcation_schema = StructType([
            StructField("transaction_date", DateType(), nullable=False),
            StructField("transaction_id", StringType(), nullable=False),
            StructField("customer_id", LongType(), nullable=False),
            StructField("customer_name", StringType(), nullable=False),
            StructField("customer_email", StringType(), nullable=False),
            StructField("sales_agent_id", LongType(), nullable=False),
            StructField("branch_id", LongType(), nullable=False),
            StructField("product_id", LongType(), nullable=False),
            StructField("product_name", StringType(), nullable=False),
            StructField("product_category", StringType(), nullable=False),
            StructField("units", IntegerType(), nullable=False),
            StructField("unit_price", DoubleType(), nullable=False),
            StructField("discount", FloatType(), nullable=False),
            StructField("total_price", DoubleType(), nullable=False),
            StructField("payment_method", StringType(), nullable=False),
            StructField("sales_agent_name", StringType(), nullable=False),
            StructField("sales_agent_hire_date", DateType(), nullable=False),
            StructField("branch_location", StringType(), nullable=False),
            StructField("branch_establish_date", DateType(), nullable=False),
            StructField("branch_class", StringType(), nullable=False),
            StructField("group", StringType(), nullable=False)
        ])

    online_sales_transcation_schema = StructType([
        StructField("transaction_date", DateType(), nullable=False),
        StructField("transaction_id", StringType(), nullable=False),
        StructField("customer_id", LongType(), nullable=False),
        StructField("customer_name", StringType(), nullable=False),
        StructField("customer_email", StringType(), nullable=False),
        StructField("product_id", LongType(), nullable=False),
        StructField("product_name", StringType(), nullable=False),
        StructField("product_category", StringType(), nullable=False),
        StructField("units", IntegerType(), nullable=False),
        StructField("unit_price", DoubleType(), nullable=False),
        StructField("discount", FloatType(), nullable=False),
        StructField("total_price", DoubleType(), nullable=False),
        StructField("payment_method", StringType(), nullable=False),
        StructField("shipping_street_name",  StringType(), nullable=False), 
        StructField("shipping_city",  StringType(), nullable=False),
        StructField("shipping_state",  StringType(), nullable=False),
        StructField("shipping_zip_code",  StringType(), nullable=False),
        StructField("group", StringType(), nullable=False)
    ])
    
# Utility functions
class HDFSUtils:
    @staticmethod
    def get_latest_file(spark: SparkSession, hdfs_path: str) -> str:
        files = spark._jvm.org.apache.hadoop.fs.FileSystem.get(spark._jsc.hadoopConfiguration()) \
            .listStatus(spark._jvm.org.apache.hadoop.fs.Path(hdfs_path))
        sorted_files = sorted(files, key=lambda f: f.getModificationTime(), reverse=True)
        return sorted_files[0].getPath().toString() if sorted_files else None

In [3]:
spark = SparkSession\
    .builder\
    .appName("DataTransformedLayer")\
    .getOrCreate()

In [4]:
def align_schemas(df1, df2):
    columns1 = set(df1.columns)
    columns2 = set(df2.columns)
    
    # Columns present in df1 but not in df2
    for col_name in columns1 - columns2:
        df2 = df2.withColumn(col_name, lit(None))
    
    # Columns present in df2 but not in df1
    for col_name in columns2 - columns1:
        df1 = df1.withColumn(col_name, lit(None))
    
    # Ensure both DataFrames have the same column order
    all_columns = sorted(list(columns1.union(columns2)))
    df1 = df1.select(all_columns)
    df2 = df2.select(all_columns)
    
    return df1, df2

In [5]:
def read_parquet_with_schema(spark: SparkSession, path: str) -> DataFrame:
    schema_path = os.path.join(path, "_schema")
    schema_df = spark.read.parquet(schema_path)
    schema = schema_df.schema
    print(schema)
    
    df = spark.read.schema(schema).parquet(path)
    
    return df

In [8]:
def process_denormalized_model(spark: SparkSession) -> None:
    current_day = datetime.now().strftime("%Y-%m-%d")
    
    hdfs_path = Config.STANDARDIZED_BASE_PATH
    
    input_base_path = hdfs_path + '/standardized_sales_transaction_' + current_day
        
    online_df = read_parquet_with_schema(spark, f"{input_base_path}/online_transactions*")
    online_df_a = online_df.withColumn("transaction_type", lit("online"))
    
    offline_df = read_parquet_with_schema(spark, f"{input_base_path}/offline_transactions*")
    offline_df_a = offline_df.withColumn("transaction_type", lit("offline"))
    
    online_df_a, offline_df_a = align_schemas(offline_df_a, online_df_a)
    
    all_df = online_df_a.union(offline_df_a)
    
    new_order = [
            'transaction_id', 'transaction_date', 'transaction_type', 'customer_id', 'customer_name', 'customer_email',
            'product_id', 'product_name', 'product_category', 'units', 'unit_price', 'discount',
            'payment_method', 'group', 'sales_agent_id', 'sales_agent_name',
            'sales_agent_hire_date', 'branch_id', 'branch_location', 'branch_class',
            'shipping_street_name', 'shipping_city', 'shipping_state', 'shipping_zip_code'
        ]
        

    return online_df, offline_df, all_df.select(new_order)

In [9]:
online_df, offline_df, all_df = process_denormalized_model(spark)

StructType(List(StructField(transaction_date,DateType,true),StructField(transaction_id,StringType,true),StructField(customer_id,LongType,true),StructField(customer_name,StringType,true),StructField(customer_email,StringType,true),StructField(product_id,LongType,true),StructField(product_name,StringType,true),StructField(product_category,StringType,true),StructField(units,LongType,true),StructField(unit_price,DoubleType,true),StructField(discount,FloatType,true),StructField(total_price,DoubleType,true),StructField(payment_method,StringType,true),StructField(shipping_street_name,StringType,true),StructField(shipping_city,StringType,true),StructField(shipping_state,StringType,true),StructField(shipping_zip_code,StringType,true),StructField(group,StringType,true)))
StructType(List(StructField(transaction_date,DateType,true),StructField(transaction_id,StringType,true),StructField(customer_id,LongType,true),StructField(customer_name,StringType,true),StructField(customer_email,StringType,true),StructField(sales_agent_id,LongType,true),StructField(branch_id,LongType,true),StructField(product_id,LongType,true),StructField(product_name,StringType,true),StructField(product_category,StringType,true),StructField(units,LongType,true),StructField(unit_price,DoubleType,true),StructField(discount,FloatType,true),StructField(total_price,DoubleType,true),StructField(payment_method,StringType,true),StructField(sales_agent_name,StringType,true),StructField(sales_agent_hire_date,DateType,true),StructField(branch_location,StringType,true),StructField(branch_establish_date,DateType,true),StructField(branch_class,StringType,true),StructField(group,StringType,true)))

In [24]:
def denorm_modeling(df: DataFrame, transaction_type: str) -> None:
    spark = SparkSession.builder.getOrCreate()
    
    denorm_path = Config.CONFORMED_DENORMALIZED_BASE_PATH
    file_path = None
    
    if transaction_type == 'online':
        file_path = denorm_path + "/online_fact_table/online_merged"
    elif transaction_type == 'offline':
        file_path = denorm_path + "/offline_fact_table/offline_merged"
    else:
        file_path = denorm_path + "/all_sales_fact_table/sales_merged"
    
    fs = spark._jvm.org.apache.hadoop.fs.FileSystem.get(spark._jsc.hadoopConfiguration())
    path = spark._jvm.org.apache.hadoop.fs.Path(file_path)
    merged_file_exists = fs.exists(path)

    schema = df.schema
    
    if merged_file_exists:
        existing_df = spark.read.parquet(file_path)
        
        existing_df.cache()
        
        merged_df = existing_df.unionByName(df).dropDuplicates()
        
        existing_df.unpersist()
    else:
        merged_df = df
    
    merged_df.write.option("schema", schema.json()).mode("overwrite").parquet(file_path)

    print(f"Appended {df.count()} rows to {file_path}")

In [23]:
denorm_modeling(online_df, 'online')

Appended 500 rows to /user/itversity/q-company_conformed_layer/denormalized_model/online_fact_table/online_merged

In [47]:
denorm_modeling(offline_df, 'offline')

Appended 1000 rows to /user/itversity/q-company_conformed_layer/denormalized_model/offline_fact_table/offline_merged

In [48]:
denorm_modeling(all_df, 'all')

Appended 1500 rows to /user/itversity/q-company_conformed_layer/denormalized_model/all_sales_fact_table/sales_merged

In [25]:
path = Config.CONFORMED_DENORMALIZED_BASE_PATH + "/online_fact_table/online_merged"

online = spark.read.parquet(path)

In [27]:
online2 = spark.read.parquet(path)

In [32]:
from pyspark.sql.functions import col, dayofmonth, dayofweek, dayofyear, month, year, weekofyear, quarter, regexp_replace, date_format
from datetime import datetime, timedelta

# Generate Date Range (Example: from 2023-01-01 to 2023-01-05)
start_date = datetime(2020, 1, 1)
end_date = datetime(2025, 12, 31)
date_list = [start_date + timedelta(days=x) for x in range((end_date - start_date).days + 1)]

# Create DataFrame
date_df = spark.createDataFrame([(date,) for date in date_list], ["date"])

# Convert date column to match transaction_date format (yyyy-MM-dd)
date_df = date_df.withColumn("date", date_format(col("date"), "yyyy-MM-dd"))

# Add Surrogate Key (yyyyMMdd format)
date_df = date_df.withColumn("date_key", 
                             regexp_replace(date_format(col("date"), "yyyyMMdd"), "-", "").cast("long"))

# Extract Date Components
date_df = date_df.withColumn("day", dayofmonth(col("date"))) \
    .withColumn("day_of_week", dayofweek(col("date"))) \
    .withColumn("day_of_year", dayofyear(col("date"))) \
    .withColumn("week_of_year", weekofyear(col("date"))) \
    .withColumn("month", month(col("date"))) \
    .withColumn("quarter", quarter(col("date"))) \
    .withColumn("year", year(col("date"))) \
    .withColumn("is_weekend", (col("day_of_week") >= 6).cast("integer")) \
    .withColumn("month_name", date_format(col("date"), "MMMM")) \
    .withColumn("day_name", date_format(col("date"), "EEEE")) \
    .withColumn("year_month", date_format(col("date"), "yyyyMM"))

output_path = Config.CONFORMED_NORMALIZED_BASE_PATH + "/date_dim/" + "date_dim_table"
date_df.write.mode('overwrite').parquet(output_path)

In [42]:
offline_fact_df = offline_df.select(
    col("transaction_id"),
    col("transaction_date"),
    col("customer_id"),
    col("sales_agent_id"),
    col("branch_id"),
    col("product_id"),
    col("units"),
    col("unit_price"),
    col("discount"),
    col("payment_method"),
    col("total_price"))

In [43]:

# Convert transaction_date in online_fact_df to match the format yyyy-MM-dd
offline_fact_df = offline_fact_df.withColumn("transaction_date", date_format(col("transaction_date"), "yyyy-MM-dd"))

# Perform an inner join on transaction_date and date
joined_df = offline_fact_df.join(date_df, offline_fact_df["transaction_date"] == date_df["date"], "inner")

joined_df.show(5, False, True)

-RECORD 0----------------------------
 transaction_id   | trx-930670956039
 transaction_date | 2022-01-01
 customer_id      | 85462
 sales_agent_id   | 6
 branch_id        | 2
 product_id       | 3
 units            | 7
 unit_price       | 299.99
 discount         | 0.0
 payment_method   | Credit Card
 total_price      | 2099.93
 date             | 2022-01-01
 date_key         | 20220101
 day              | 1
 day_of_week      | 7
 day_of_year      | 1
 week_of_year     | 52
 month            | 1
 quarter          | 1
 year             | 2022
 is_weekend       | 1
 month_name       | January
 day_name         | Saturday
 year_month       | 202201
-RECORD 1----------------------------
 transaction_id   | trx-184315170972
 transaction_date | 2022-01-01
 customer_id      | 85553
 sales_agent_id   | 7
 branch_id        | 3
 product_id       | 23
 units            | 8
 unit_price       | 39.99
 discount         | 0.0
 payment_method   | Credit Card
 total_price      | 319.92
 date             | 2022-01-01
 date_key         | 20220101
 day              | 1
 day_of_week      | 7
 day_of_year      | 1
 week_of_year     | 52
 month            | 1
 quarter          | 1
 year             | 2022
 is_weekend       | 1
 month_name       | January
 day_name         | Saturday
 year_month       | 202201
-RECORD 2----------------------------
 transaction_id   | trx-783039674351
 transaction_date | 2022-01-03
 customer_id      | 85487
 sales_agent_id   | 1
 branch_id        | 1
 product_id       | 12
 units            | 3
 unit_price       | 299.99
 discount         | 0.1
 payment_method   | Cash
 total_price      | 809.973
 date             | 2022-01-03
 date_key         | 20220103
 day              | 3
 day_of_week      | 2
 day_of_year      | 3
 week_of_year     | 1
 month            | 1
 quarter          | 1
 year             | 2022
 is_weekend       | 0
 month_name       | January
 day_name         | Monday
 year_month       | 202201
-RECORD 3----------------------------
 transaction_id   | trx-565773985019
 transaction_date | 2022-01-03
 customer_id      | 85544
 sales_agent_id   | 5
 branch_id        | 1
 product_id       | 3
 units            | 2
 unit_price       | 299.99
 discount         | 0.0
 payment_method   | Cash
 total_price      | 599.98
 date             | 2022-01-03
 date_key         | 20220103
 day              | 3
 day_of_week      | 2
 day_of_year      | 3
 week_of_year     | 1
 month            | 1
 quarter          | 1
 year             | 2022
 is_weekend       | 0
 month_name       | January
 day_name         | Monday
 year_month       | 202201
-RECORD 4----------------------------
 transaction_id   | trx-462079913238
 transaction_date | 2022-01-03
 customer_id      | 85549
 sales_agent_id   | 8
 branch_id        | 4
 product_id       | 7
 units            | 8
 unit_price       | 59.99
 discount         | 0.15
 payment_method   | Cash
 total_price      | 407.932
 date             | 2022-01-03
 date_key         | 20220103
 day              | 3
 day_of_week      | 2
 day_of_year      | 3
 week_of_year     | 1
 month            | 1
 quarter          | 1
 year             | 2022
 is_weekend       | 0
 month_name       | January
 day_name         | Monday
 year_month       | 202201
only showing top 5 rows

In [44]:
offline_fact_df=joined_df.select(
    col("transaction_id"),
    col("customer_id"),
    col("sales_agent_id"),
    col("branch_id"),
    col("product_id"),
    col("units"),
    col("unit_price"),
    col("discount"),
    col("payment_method"),
    col("total_price"),
    col("date_key")
)

offline_fact_df.columns

['transaction_id',
 'customer_id',
 'sales_agent_id',
 'branch_id',
 'product_id',
 'units',
 'unit_price',
 'discount',
 'payment_method',
 'total_price',
 'date_key']

In [46]:
online_fact_df=online_df.select(
    col("transaction_date"),
    col("transaction_id"),
    col("customer_id"),
    col("product_id"),
    col("units"),
    col("unit_price"),
    col("discount"),
    col("payment_method"),
    col("group"),
    col("shipping_street_name"),
    col("shipping_city"),
    col("shipping_state"),
    col("shipping_zip_code"),
    col("total_price")
)

online_fact_df.show(2, False, True)

-RECORD 0-----------------------------------------------
 transaction_date     | 2022-06-07
 transaction_id       | trx-620490661140
 customer_id          | 85489
 product_id           | 25
 units                | 2
 unit_price           | 499.99
 discount             | 0.0
 payment_method       | Stripe
 group                | group1
 shipping_street_name | 3373 Runnymede Place Northwest
 shipping_city        | Washington
 shipping_state       | District of Columbia
 shipping_zip_code    | 20015
 total_price          | 999.98
-RECORD 1-----------------------------------------------
 transaction_date     | 2022-02-04
 transaction_id       | trx-895867959806
 customer_id          | 85536
 product_id           | 25
 units                | 8
 unit_price           | 499.99
 discount             | 0.05
 payment_method       | Credit Card
 group                | group1
 shipping_street_name | 2850 Davenport Street Northwest
 shipping_city        | Washington
 shipping_state       | District of Columbia
 shipping_zip_code    | 20008
 total_price          | 3799.924
only showing top 2 rows

In [76]:
# Convert transaction_date in online_fact_df to match the format yyyy-MM-dd
online_fact_df = online_fact_df.withColumn("transaction_date", date_format(col("transaction_date"), "yyyy-MM-dd"))

# Perform an inner join on transaction_date and date
joined_df_2 = online_fact_df.join(date_df, online_fact_df["transaction_date"] == date_df["date"], "inner")

joined_df_2.coalesce(1)

+----------------+----------------+-----------+----------+-----+----------+--------+--------------+-----+--------------------+-----------------+--------------+-----------------+------------------+----------+--------+---+-----------+-----------+------------+-----+-------+----+----------+----------+--------+----------+
|transaction_date|  transaction_id|customer_id|product_id|units|unit_price|discount|payment_method|group|shipping_street_name|    shipping_city|shipping_state|shipping_zip_code|       total_price|      date|date_key|day|day_of_week|day_of_year|week_of_year|month|quarter|year|is_weekend|month_name|day_name|year_month|
+----------------+----------------+-----------+----------+-----+----------+--------+--------------+-----+--------------------+-----------------+--------------+-----------------+------------------+----------+--------+---+-----------+-----------+------------+-----+-------+----+----------+----------+--------+----------+
|      2022-01-01|trx-038966531476|      85511|        11|    9|    899.99|     0.0|        PayPal|    2|   1783 Blakely Road|       Colchester|       Vermont|            05446|           8099.91|2022-01-01|20220101|  1|          7|          1|          52|    1|      1|2022|         1|   January|Saturday|    202201|
|      2022-01-01|trx-196650129641|      85502|         8|    1|     79.99|     0.0|        Stripe|    2|     88 Shute Street|          Everett| Massachusetts|            02149|             79.99|2022-01-01|20220101|  1|          7|          1|          52|    1|      1|2022|         1|   January|Saturday|    202201|
|      2022-01-01|trx-961186738199|      85540|         9|    8|    129.99|     0.2|        PayPal|    3|   45 Parsons Avenue|Saint Albans City|       Vermont|            05478| 831.9360123968125|2022-01-01|20220101|  1|          7|          1|          52|    1|      1|2022|         1|   January|Saturday|    202201|
|      2022-01-01|trx-961186738199|      85540|         9|    8|    129.99|     0.2|        PayPal|    1|   45 Parsons Avenue|Saint Albans City|       Vermont|            05478| 831.9360123968125|2022-01-01|20220101|  1|          7|          1|          52|    1|      1|2022|         1|   January|Saturday|    202201|
|      2022-01-01|trx-807433736285|      85505|        24|    9|     49.99|     0.2|        Stripe|    4|    6460 Vermont 113|         Vershire|       Vermont|            05079|359.92800536334516|2022-01-01|20220101|  1|          7|          1|          52|    1|      1|2022|         1|   January|Saturday|    202201|
|      2022-01-01|trx-378573229506|      85552|         7|    1|     59.99|    0.05|   Credit Card|    6|  1265 Xavier Avenue|          Hayward|    California|            94545|56.990499284863475|2022-01-01|20220101|  1|          7|          1|          52|    1|      1|2022|         1|   January|Saturday|    202201|
|      2022-01-01|trx-812311767786|      85525|        11|    8|    899.99|     0.2|        Stripe|    6|     129 Glen Street| West Brattleboro|       Vermont|            05301| 5759.936085829735|2022-01-01|20220101|  1|          7|          1|          52|    1|      1|2022|         1|   January|Saturday|    202201|
|      2022-01-01|trx-714156427993|      85519|         5|    4|     19.99|     0.0|        PayPal|    6|   52 Linnmore Drive|       Manchester|   Connecticut|            06040|             79.96|2022-01-01|20220101|  1|          7|          1|          52|    1|      1|2022|         1|   January|Saturday|    202201|
|      2022-01-01|trx-926752978689|      85553|        15|   10|     29.99|     0.0|        PayPal|    6|     1313 North Road|        Hinesburg|       Vermont|            05461|             299.9|2022-01-01|20220101|  1|          7|          1|          52|    1|      1|2022|         1|   January|Saturday|    202201|
|      2022-01-01|trx-377988149376|      85548|        30|    6|     24.99|     0.0|        Stripe|    6|3328 Sunny Meadow...|       Birmingham|       Alabama|            35242|            149.94|2022-01-01|20220101|  1|          7|          1|          52|    1|      1|2022|         1|   January|Saturday|    202201|
|      2022-01-01|trx-578810017511|      85510|        27|    2|     29.99|    0.05|        PayPal|    6| 3578 Galindo Street|          Oakland|    California|            94601| 56.98099928498268|2022-01-01|20220101|  1|          7|          1|          52|    1|      1|2022|         1|   January|Saturday|    202201|
|      2022-01-01|trx-935354519699|      85468|        10|    9|     39.99|     0.2|        Stripe|    6|   396 Hartford Road|       Manchester|   Connecticut|            06040|287.92800429046156|2022-01-01|20220101|  1|          7|          1|          52|    1|      1|2022|         1|   January|Saturday|    202201|
|      2022-01-01|trx-062565092206|      85534|         1|    2|    999.99|     0.2|        Stripe|    6|1363 Dean Forest ...|         Savannah|       Georgia|            31405|1599.9840238416195|2022-01-01|20220101|  1|          7|          1|          52|    1|      1|2022|         1|   January|Saturday|    202201|
|      2022-01-01|trx-291831425853|      85520|        13|    3|    149.99|     0.2|        Stripe|    6|206 Blue Marlin D...|         Savannah|       Georgia|            31410| 359.9760053640604|2022-01-01|20220101|  1|          7|          1|          52|    1|      1|2022|         1|   January|Saturday|    202201|
|      2022-01-01|trx-490934091046|      85488|        14|    5|    399.99|     0.0|        PayPal|    6| 95 Claiborne Street|        Nashville|     Tennessee|            37210|           1999.95|2022-01-01|20220101|  1|          7|          1|          52|    1|      1|2022|         1|   January|Saturday|    202201|
|      2022-01-01|trx-477242925566|      85505|         7|    7|     59.99|     0.0|        PayPal|    6|   23 Columbia Drive|       Manchester|   Connecticut|            06042|            419.93|2022-01-01|20220101|  1|          7|          1|          52|    1|      1|2022|         1|   January|Saturday|    202201|
|      2022-01-01|trx-657276071144|      85480|        28|   10|     19.99|     0.0|        PayPal|    6|   98 Lincoln Street|           Revere| Massachusetts|            02151|199.89999999999998|2022-01-01|20220101|  1|          7|          1|          52|    1|      1|2022|         1|   January|Saturday|    202201|
|      2022-01-01|trx-521851194970|      85470|         3|    6|    299.99|     0.0|   Credit Card|    6|  1209 Parker Street|         Berkeley|    California|            94702|           1799.94|2022-01-01|20220101|  1|          7|          1|          52|    1|      1|2022|         1|   January|Saturday|    202201|
|      2022-01-01|trx-835639572082|      85521|         6|    7|     49.99|     0.2|   Credit Card|    6|      11724 Rushmore|    Oklahoma City|      Oklahoma|            73162| 279.9440041714907|2022-01-01|20220101|  1|          7|          1|          52|    1|      1|2022|         1|   January|Saturday|    202201|
|      2022-01-01|trx-832513610642|      85532|        11|    3|    899.99|     0.0|        Stripe|    6|6802 North 67th A...|         Glendale|       Arizona|            85301|2699.9700000000003|2022-01-01|20220101|  1|          7|          1|          52|    1|      1|2022|         1|   January|Saturday|    202201|
+----------------+----------------+-----------+----------+-----+----------+--------+--------------+-----+--------------------+-----------------+--------------+-----------------+------------------+----------+--------+---+-----------+-----------+------------+-----+-------+----+----------+----------+--------+----------+
only showing top 20 rows

In [77]:
joined_df_2.columns

['transaction_date',
 'transaction_id',
 'customer_id',
 'product_id',
 'units',
 'unit_price',
 'discount',
 'payment_method',
 'group',
 'shipping_street_name',
 'shipping_city',
 'shipping_state',
 'shipping_zip_code',
 'total_price',
 'date',
 'date_key',
 'day',
 'day_of_week',
 'day_of_year',
 'week_of_year',
 'month',
 'quarter',
 'year',
 'is_weekend',
 'month_name',
 'day_name',
 'year_month']

In [78]:
online_fact_df=joined_df_2.select(
    col("transaction_id"),
    col("customer_id"),
    col("product_id"),
    col("units"),
    col("unit_price"),
    col("discount"),
    col("payment_method"),
    col("group"),
    col("total_price"),
    col("date_key"),
    col("shipping_zip_code"),
    col("shipping_state"),
    col("shipping_city"),
    col("shipping_street_name"))

online_fact_df.coalesce(1)

+----------------+-----------+----------+-----+----------+--------+--------------+-----+------------------+--------+-----------------+--------------+-----------------+--------------------+
|  transaction_id|customer_id|product_id|units|unit_price|discount|payment_method|group|       total_price|date_key|shipping_zip_code|shipping_state|    shipping_city|shipping_street_name|
+----------------+-----------+----------+-----+----------+--------+--------------+-----+------------------+--------+-----------------+--------------+-----------------+--------------------+
|trx-038966531476|      85511|        11|    9|    899.99|     0.0|        PayPal|    2|           8099.91|20220101|            05446|       Vermont|       Colchester|   1783 Blakely Road|
|trx-196650129641|      85502|         8|    1|     79.99|     0.0|        Stripe|    2|             79.99|20220101|            02149| Massachusetts|          Everett|     88 Shute Street|
|trx-961186738199|      85540|         9|    8|    129.99|     0.2|        PayPal|    3| 831.9360123968125|20220101|            05478|       Vermont|Saint Albans City|   45 Parsons Avenue|
|trx-961186738199|      85540|         9|    8|    129.99|     0.2|        PayPal|    1| 831.9360123968125|20220101|            05478|       Vermont|Saint Albans City|   45 Parsons Avenue|
|trx-807433736285|      85505|        24|    9|     49.99|     0.2|        Stripe|    4|359.92800536334516|20220101|            05079|       Vermont|         Vershire|    6460 Vermont 113|
|trx-378573229506|      85552|         7|    1|     59.99|    0.05|   Credit Card|    6|56.990499284863475|20220101|            94545|    California|          Hayward|  1265 Xavier Avenue|
|trx-812311767786|      85525|        11|    8|    899.99|     0.2|        Stripe|    6| 5759.936085829735|20220101|            05301|       Vermont| West Brattleboro|     129 Glen Street|
|trx-714156427993|      85519|         5|    4|     19.99|     0.0|        PayPal|    6|             79.96|20220101|            06040|   Connecticut|       Manchester|   52 Linnmore Drive|
|trx-926752978689|      85553|        15|   10|     29.99|     0.0|        PayPal|    6|             299.9|20220101|            05461|       Vermont|        Hinesburg|     1313 North Road|
|trx-377988149376|      85548|        30|    6|     24.99|     0.0|        Stripe|    6|            149.94|20220101|            35242|       Alabama|       Birmingham|3328 Sunny Meadow...|
|trx-578810017511|      85510|        27|    2|     29.99|    0.05|        PayPal|    6| 56.98099928498268|20220101|            94601|    California|          Oakland| 3578 Galindo Street|
|trx-935354519699|      85468|        10|    9|     39.99|     0.2|        Stripe|    6|287.92800429046156|20220101|            06040|   Connecticut|       Manchester|   396 Hartford Road|
|trx-062565092206|      85534|         1|    2|    999.99|     0.2|        Stripe|    6|1599.9840238416195|20220101|            31405|       Georgia|         Savannah|1363 Dean Forest ...|
|trx-291831425853|      85520|        13|    3|    149.99|     0.2|        Stripe|    6| 359.9760053640604|20220101|            31410|       Georgia|         Savannah|206 Blue Marlin D...|
|trx-490934091046|      85488|        14|    5|    399.99|     0.0|        PayPal|    6|           1999.95|20220101|            37210|     Tennessee|        Nashville| 95 Claiborne Street|
|trx-477242925566|      85505|         7|    7|     59.99|     0.0|        PayPal|    6|            419.93|20220101|            06042|   Connecticut|       Manchester|   23 Columbia Drive|
|trx-657276071144|      85480|        28|   10|     19.99|     0.0|        PayPal|    6|199.89999999999998|20220101|            02151| Massachusetts|           Revere|   98 Lincoln Street|
|trx-521851194970|      85470|         3|    6|    299.99|     0.0|   Credit Card|    6|           1799.94|20220101|            94702|    California|         Berkeley|  1209 Parker Street|
|trx-835639572082|      85521|         6|    7|     49.99|     0.2|   Credit Card|    6| 279.9440041714907|20220101|            73162|      Oklahoma|    Oklahoma City|      11724 Rushmore|
|trx-832513610642|      85532|        11|    3|    899.99|     0.0|        Stripe|    6|2699.9700000000003|20220101|            85301|       Arizona|         Glendale|6802 North 67th A...|
+----------------+-----------+----------+-----+----------+--------+--------------+-----+------------------+--------+-----------------+--------------+-----------------+--------------------+
only showing top 20 rows

In [79]:
product_dim_df=all_groups_merged_df.select(
    col("product_id"),
    col("product_name"),
    col("product_category"),
    col("unit_price")).distinct()

product_dim_df.show()

+----------+-----------------+----------------+----------+
|product_id|     product_name|product_category|unit_price|
+----------+-----------------+----------------+----------+
|        29|Hair Straightener|      Appliances|     39.99|
|        19|          Sandals|        Footwear|     29.99|
|        12|          Monitor|     Electronics|    299.99|
|        17|           Blouse|        Clothing|     29.99|
|        18|            Boots|        Footwear|    149.99|
|        15|           Hoodie|        Clothing|     29.99|
|        10|          Sandals|        Footwear|     39.99|
|         1|           Laptop|     Electronics|    999.99|
|         6|            Jeans|        Clothing|     49.99|
|        16|            Skirt|        Clothing|     39.99|
|         7|            Dress|        Clothing|     59.99|
|        28|       Hair Dryer|      Appliances|     19.99|
|         3|           Tablet|     Electronics|    299.99|
|        14|           Camera|     Electronics|    399.99|
|        20|            Heels|        Footwear|     59.99|
|        25|  Washing Machine|      Appliances|    499.99|
|        30|  Electric Kettle|      Appliances|     24.99|
|         2|       Smartphone|     Electronics|    699.99|
|        22|     Coffee Maker|      Appliances|     79.99|
|         9|            Boots|        Footwear|    129.99|
+----------+-----------------+----------------+----------+
only showing top 20 rows

In [80]:
# Define a Window specification
window_spec = Window.orderBy("product_id")

# Add a product_key column using row_number
product_dim_df = product_dim_df.withColumn("product_key", row_number().over(window_spec))

product_dim_df.coalesce(1)

+----------+------------+----------------+----------+-----------+
|product_id|product_name|product_category|unit_price|product_key|
+----------+------------+----------------+----------+-----------+
|         1|      Laptop|     Electronics|    999.99|          1|
|         2|  Smartphone|     Electronics|    699.99|          2|
|         3|      Tablet|     Electronics|    299.99|          3|
|         4|  Headphones|     Electronics|     99.99|          4|
|         5|     T-Shirt|        Clothing|     19.99|          5|
|         6|       Jeans|        Clothing|     49.99|          6|
|         7|       Dress|        Clothing|     59.99|          7|
|         8|    Sneakers|        Footwear|     79.99|          8|
|         9|       Boots|        Footwear|    129.99|          9|
|        10|     Sandals|        Footwear|     39.99|         10|
|        11|          TV|     Electronics|    899.99|         11|
|        12|     Monitor|     Electronics|    299.99|         12|
|        13|     Printer|     Electronics|    149.99|         13|
|        14|      Camera|     Electronics|    399.99|         14|
|        15|      Hoodie|        Clothing|     29.99|         15|
|        16|       Skirt|        Clothing|     39.99|         16|
|        17|      Blouse|        Clothing|     29.99|         17|
|        18|       Boots|        Footwear|    149.99|         18|
|        19|     Sandals|        Footwear|     29.99|         19|
|        20|       Heels|        Footwear|     59.99|         20|
+----------+------------+----------------+----------+-----------+
only showing top 20 rows

In [81]:
# Write the merged DataFrame to a single CSV file
output_path = "/Graduation_Project/transformed_data/schema/products_dim.csv"
product_dim_df.coalesce(1).write.mode('overwrite').csv(output_path, header=True)

In [82]:
# Perform an inner join on transaction_date and date
online_fact_df = online_fact_df.join(product_dim_df, online_fact_df["product_id"] == product_dim_df["product_id"], "inner")

In [83]:
online_fact_df.coalesce(1)

+----------------+-----------+----------+-----+----------+--------+--------------+-----+------------------+--------+-----------------+--------------------+-------------+--------------------+----------+--------------+----------------+----------+-----------+
|  transaction_id|customer_id|product_id|units|unit_price|discount|payment_method|group|       total_price|date_key|shipping_zip_code|      shipping_state|shipping_city|shipping_street_name|product_id|  product_name|product_category|unit_price|product_key|
+----------------+-----------+----------+-----+----------+--------+--------------+-----+------------------+--------+-----------------+--------------------+-------------+--------------------+----------+--------------+----------------+----------+-----------+
|trx-549713340293|      85522|        26|    8|    199.99|     0.0|        Stripe|    6|           1599.92|20220101|            21114|            Maryland|      Crofton|       1630 Eton Way|        26|Vacuum Cleaner|      Appliances|    199.99|         26|
|trx-120912375499|      85483|        26|    4|    199.99|     0.0|   Credit Card|    6|            799.96|20220102|            01902|       Massachusetts|         Lynn| 172 Chestnut Street|        26|Vacuum Cleaner|      Appliances|    199.99|         26|
|trx-500133384271|      85504|        26|    3|    199.99|     0.0|        PayPal|    6|            599.97|20220102|            01719|       Massachusetts|   Boxborough|      302 Depot Road|        26|Vacuum Cleaner|      Appliances|    199.99|         26|
|trx-741895782895|      85550|        26|    4|    199.99|     0.0|   Credit Card|    6|            799.96|20220102|            05075|             Vermont|     Thetford|  398 Gove Hill Road|        26|Vacuum Cleaner|      Appliances|    199.99|         26|
|trx-830547671067|      85464|        26|    5|    199.99|     0.0|        Stripe|    6|            999.95|20220103|            99611|              Alaska|        Kenai|51185 Helmsman St...|        26|Vacuum Cleaner|      Appliances|    199.99|         26|
|trx-087732089100|      85534|        26|    5|    199.99|    0.15|        PayPal|    6| 849.9575238406659|20220103|            21122|            Maryland|     Pasadena|    202 Winston Road|        26|Vacuum Cleaner|      Appliances|    199.99|         26|
|trx-227505126526|      85504|        26|   10|    199.99|    0.15|        Stripe|    6|1699.9150476813318|20220103|            06040|         Connecticut|   Manchester|    89 Frances Drive|        26|Vacuum Cleaner|      Appliances|    199.99|         26|
|trx-512595649334|      85561|        26|    8|    199.99|     0.0|   Credit Card|    6|           1599.92|20220103|            85304|             Arizona|     Glendale|13066 North 56th ...|        26|Vacuum Cleaner|      Appliances|    199.99|         26|
|trx-950565917451|      85512|        26|    5|    199.99|     0.0|        Stripe|    6|            999.95|20220103|            21060|            Maryland|  Glen Burnie|140 William Chamb...|        26|Vacuum Cleaner|      Appliances|    199.99|         26|
|trx-361642366546|      85526|        26|    5|    199.99|     0.2|   Credit Card|    6| 799.9600119203329|20220104|            36116|             Alabama|   Montgomery| 4560 Hurlston Drive|        26|Vacuum Cleaner|      Appliances|    199.99|         26|
|trx-427707072114|      85500|        26|    1|    199.99|     0.0|   Credit Card|    6|            199.99|20220104|            02155|       Massachusetts|      Medford|     190 High Street|        26|Vacuum Cleaner|      Appliances|    199.99|         26|
|trx-908944532247|      85467|        26|    6|    199.99|     0.2|        Stripe|    6| 959.9520143043995|20220105|            94538|          California|      Fremont|     40700 Penn Lane|        26|Vacuum Cleaner|      Appliances|    199.99|         26|
|trx-154432424782|      85549|        26|    7|    199.99|    0.15|        PayPal|    6|1189.9405333769323|20220105|            32456|             Florida| Mexico Beach|  3203 US Highway 98|        26|Vacuum Cleaner|      Appliances|    199.99|         26|
|trx-121390622491|      85474|        26|    1|    199.99|     0.0|        Stripe|    6|            199.99|20220106|            01801|       Massachusetts|       Woburn|    78 School Street|        26|Vacuum Cleaner|      Appliances|    199.99|         26|
|trx-444236770189|      85521|        26|    2|    199.99|     0.1|        Stripe|    6|359.98199046373367|20220107|            73120|            Oklahoma|Oklahoma City|1537 Northwest 12...|        26|Vacuum Cleaner|      Appliances|    199.99|         26|
|trx-573555731252|      85502|        26|    9|    199.99|     0.0|        PayPal|    6|           1799.91|20220107|            32409|             Florida|    Southport|   711 Tashanna Lane|        26|Vacuum Cleaner|      Appliances|    199.99|         26|
|trx-638667412178|      85523|        26|    4|    199.99|     0.0|        PayPal|    6|            799.96|20220107|            85355|             Arizona|      Waddell|10304 North 179th...|        26|Vacuum Cleaner|      Appliances|    199.99|         26|
|trx-411930500153|      85540|        26|    6|    199.99|     0.2|        PayPal|    6| 959.9520143043995|20220108|            06040|         Connecticut|   Manchester|   173 Spruce Street|        26|Vacuum Cleaner|      Appliances|    199.99|         26|
|trx-815454456612|      85466|        26|    6|    199.99|     0.0|   Credit Card|    6|           1199.94|20220108|            20019|District of Columbia|   Washington|4341 Ponds Street...|        26|Vacuum Cleaner|      Appliances|    199.99|         26|
|trx-058836766984|      85501|        26|    3|    199.99|     0.0|   Credit Card|    4|            599.97|20220109|            06040|         Connecticut|   Manchester|    115 Waddell Road|        26|Vacuum Cleaner|      Appliances|    199.99|         26|
+----------------+-----------+----------+-----+----------+--------+--------------+-----+------------------+--------+-----------------+--------------------+-------------+--------------------+----------+--------------+----------------+----------+-----------+
only showing top 20 rows

In [84]:
online_fact_df=online_fact_df.drop("product_id", "product_name", "product_category", "unit_price")
online_fact_df.coalesce(1)

+----------------+-----------+-----+--------+--------------+-----+------------------+--------+-----------------+--------------+-----------------+--------------------+-----------+
|  transaction_id|customer_id|units|discount|payment_method|group|       total_price|date_key|shipping_zip_code|shipping_state|    shipping_city|shipping_street_name|product_key|
+----------------+-----------+-----+--------+--------------+-----+------------------+--------+-----------------+--------------+-----------------+--------------------+-----------+
|trx-038966531476|      85511|    9|     0.0|        PayPal|    2|           8099.91|20220101|            05446|       Vermont|       Colchester|   1783 Blakely Road|         11|
|trx-196650129641|      85502|    1|     0.0|        Stripe|    2|             79.99|20220101|            02149| Massachusetts|          Everett|     88 Shute Street|          8|
|trx-961186738199|      85540|    8|     0.2|        PayPal|    3| 831.9360123968125|20220101|            05478|       Vermont|Saint Albans City|   45 Parsons Avenue|          9|
|trx-961186738199|      85540|    8|     0.2|        PayPal|    1| 831.9360123968125|20220101|            05478|       Vermont|Saint Albans City|   45 Parsons Avenue|          9|
|trx-807433736285|      85505|    9|     0.2|        Stripe|    4|359.92800536334516|20220101|            05079|       Vermont|         Vershire|    6460 Vermont 113|         24|
|trx-378573229506|      85552|    1|    0.05|   Credit Card|    6|56.990499284863475|20220101|            94545|    California|          Hayward|  1265 Xavier Avenue|          7|
|trx-812311767786|      85525|    8|     0.2|        Stripe|    6| 5759.936085829735|20220101|            05301|       Vermont| West Brattleboro|     129 Glen Street|         11|
|trx-714156427993|      85519|    4|     0.0|        PayPal|    6|             79.96|20220101|            06040|   Connecticut|       Manchester|   52 Linnmore Drive|          5|
|trx-926752978689|      85553|   10|     0.0|        PayPal|    6|             299.9|20220101|            05461|       Vermont|        Hinesburg|     1313 North Road|         15|
|trx-377988149376|      85548|    6|     0.0|        Stripe|    6|            149.94|20220101|            35242|       Alabama|       Birmingham|3328 Sunny Meadow...|         30|
|trx-578810017511|      85510|    2|    0.05|        PayPal|    6| 56.98099928498268|20220101|            94601|    California|          Oakland| 3578 Galindo Street|         27|
|trx-935354519699|      85468|    9|     0.2|        Stripe|    6|287.92800429046156|20220101|            06040|   Connecticut|       Manchester|   396 Hartford Road|         10|
|trx-062565092206|      85534|    2|     0.2|        Stripe|    6|1599.9840238416195|20220101|            31405|       Georgia|         Savannah|1363 Dean Forest ...|          1|
|trx-291831425853|      85520|    3|     0.2|        Stripe|    6| 359.9760053640604|20220101|            31410|       Georgia|         Savannah|206 Blue Marlin D...|         13|
|trx-490934091046|      85488|    5|     0.0|        PayPal|    6|           1999.95|20220101|            37210|     Tennessee|        Nashville| 95 Claiborne Street|         14|
|trx-477242925566|      85505|    7|     0.0|        PayPal|    6|            419.93|20220101|            06042|   Connecticut|       Manchester|   23 Columbia Drive|          7|
|trx-657276071144|      85480|   10|     0.0|        PayPal|    6|199.89999999999998|20220101|            02151| Massachusetts|           Revere|   98 Lincoln Street|         28|
|trx-521851194970|      85470|    6|     0.0|   Credit Card|    6|           1799.94|20220101|            94702|    California|         Berkeley|  1209 Parker Street|          3|
|trx-835639572082|      85521|    7|     0.2|   Credit Card|    6| 279.9440041714907|20220101|            73162|      Oklahoma|    Oklahoma City|      11724 Rushmore|          6|
|trx-832513610642|      85532|    3|     0.0|        Stripe|    6|2699.9700000000003|20220101|            85301|       Arizona|         Glendale|6802 North 67th A...|         11|
+----------------+-----------+-----+--------+--------------+-----+------------------+--------+-----------------+--------------+-----------------+--------------------+-----------+
only showing top 20 rows

In [85]:
# Perform an inner join on transaction_date and date
offline_fact_df = offline_fact_df.join(product_dim_df, offline_fact_df["product_id"] == product_dim_df["product_id"], "inner")

In [86]:
offline_fact_df=offline_fact_df.drop("product_id", "product_name", "product_category", "unit_price")
offline_fact_df.coalesce(1)

+----------------+-----------+--------------+---------+-----+--------+--------------+------------------+--------+-----------+
|  transaction_id|customer_id|sales_agent_id|branch_id|units|discount|payment_method|       total_price|date_key|product_key|
+----------------+-----------+--------------+---------+-----+--------+--------------+------------------+--------+-----------+
|trx-076399480608|      85543|           4.0|      5.0|   10|    0.15|          Cash|  339.915009534359|20221005|         29|
|trx-869094373006|      85492|          11.0|      2.0|    4|     0.0|          Cash|            319.96|20221005|          8|
|trx-503367123686|      85503|          11.0|      3.0|    8|     0.0|   Credit Card|            319.92|20221005|         16|
|trx-174908107361|      85509|           3.0|      1.0|    4|     0.2|          Cash|1599.9680238413812|20221005|         25|
|trx-425712974649|      85557|           9.0|      4.0|    3|     0.2|   Credit Card| 359.9760053640604|20221005|         18|
|trx-130879848938|      85504|           8.0|      3.0|    3|     0.0|   Credit Card|2099.9700000000003|20221005|          2|
|trx-050608515670|      85496|          11.0|      3.0|    9|     0.0|          Cash|            179.91|20221005|          5|
|trx-163780790436|      85516|           3.0|      6.0|    9|     0.2|          Cash|143.92800214469432|20221005|          5|
|trx-852403292386|      85536|           4.0|      4.0|    5|    0.15|          Cash|3824.9576072871682|20221005|         11|
|trx-058692145076|      85561|           5.0|      6.0|    5|     0.0|          Cash|199.95000000000002|20221005|         16|
|trx-593040460969|      85499|          11.0|      1.0|    8|     0.0|          Cash|            239.92|20221005|         19|
|trx-406130654199|      85547|           7.0|      1.0|    6|     0.2|          Cash|1439.9520214569568|20221005|          3|
|trx-567147510430|      85499|           2.0|      5.0|    1|     0.0|   Credit Card|             99.99|20221005|          4|
|trx-049685951276|      85516|           9.0|      5.0|    1|    0.15|          Cash| 424.9915119206905|20221005|         25|
|trx-422830483654|      85561|           5.0|      2.0|    2|    0.05|   Credit Card| 949.9809880793094|20221005|         25|
|trx-284111951568|      85551|          10.0|      1.0|    1|     0.0|   Credit Card|             29.99|20221005|         27|
|trx-596188648857|      85498|           7.0|      6.0|    2|    0.15|   Credit Card|33.983000953197475|20221005|         28|
|trx-756852746924|      85548|          11.0|      5.0|    9|     0.2|   Credit Card|2159.9280321854353|20221005|         12|
|trx-088886246107|      85548|           4.0|      1.0|    2|    0.05|   Credit Card|151.98099809288976|20221005|          8|
|trx-963580033090|      85507|           7.0|      2.0|    9|     0.0|          Cash|269.90999999999997|20221005|         17|
+----------------+-----------+--------------+---------+-----+--------+--------------+------------------+--------+-----------+
only showing top 20 rows

In [87]:
customer_dim_df=all_groups_merged_df.select(
    col("customer_id"),
    col("customer_name"),
    col("cleaned_email")).dropDuplicates(["customer_id"])

customer_dim_df.show()

+-----------+------------------+--------------------+
|customer_id|     customer_name|       cleaned_email|
+-----------+------------------+--------------------+
|      85525|         Ava Jones| ava.jones@yahoo.com|
|      85527|       Emma Miller|emma.miller@outlo...|
|      85520|  Alexander Wilson|alexander.wilson@...|
|      85541|         Ava Jones|ava.jones@hotmail...|
|      85473|     Sophia Miller|sophia.miller@yah...|
|      85514|     Michael Smith|michael.smith@out...|
|      85547|      James Wilson|james.wilson@outl...|
|      85508|      James Miller|james.miller@hotm...|
|      85542|      James Miller|james.miller@yaho...|
|      85506|      Mia Williams|mia.williams@hotm...|
|      85515|    William Wilson|william.wilson@ou...|
|      85511|   Alexander Moore|alexander.moore@y...|
|      85477|Alexander Williams|alexander.william...|
|      85554|        John Brown|john.brown@gmail.com|
|      85490|        Mia Taylor|mia.taylor@yahoo.com|
|      85516|  Michael Williams|michael.williams@...|
|      85529|      Mia Williams|mia.williams@yaho...|
|      85556|         Ava Brown| ava.brown@yahoo.com|
|      85482|     William Moore|william.moore@yah...|
|      85523|        Mia Wilson|mia.wilson@gmail....|
+-----------+------------------+--------------------+
only showing top 20 rows

In [88]:
# Define a Window specification
window_spec = Window.orderBy("customer_id")

# Add a product_key column using row_number
customer_dim_df = customer_dim_df.withColumn("customer_key", row_number().over(window_spec))

customer_dim_df.coalesce(1)

+-----------+---------------+--------------------+------------+
|customer_id|  customer_name|       cleaned_email|customer_key|
+-----------+---------------+--------------------+------------+
|      85462|   Olivia Brown|olivia.brown@yaho...|           1|
|      85463|     Ava Miller|ava.miller@gmail.com|           2|
|      85464|  Emma Williams|emma.williams@out...|           3|
|      85465|     Emma Smith|emma.smith@gmail.com|           4|
|      85466|  Michael Brown|michael.brown@yah...|           5|
|      85467|Alexander Jones|alexander.jones@y...|           6|
|      85468|Michael Johnson|michael.johnson@g...|           7|
|      85469|    Emma Miller|emma.miller@outlo...|           8|
|      85470|     Ava Wilson|ava.wilson@hotmai...|           9|
|      85471|   Ava Williams|ava.williams@outl...|          10|
|      85472|     Emma Brown|emma.brown@yahoo.com|          11|
|      85473|  Michael Jones|michael.jones@out...|          12|
|      85474|   Olivia Brown|olivia.brown@hotm...|          13|
|      85475|   Sophia Smith|sophia.smith@yaho...|          14|
|      85476|    James Moore|james.moore@yahoo...|          15|
|      85477|     Emma Jones|emma.jones@hotmai...|          16|
|      85478|    James Davis|james.davis@outlo...|          17|
|      85479|     Mia Taylor|mia.taylor@hotmai...|          18|
|      85480|  Sophia Wilson|sophia.wilson@gma...|          19|
|      85481|   Emma Johnson|emma.johnson@gmai...|          20|
+-----------+---------------+--------------------+------------+
only showing top 20 rows

In [89]:
# Write the merged DataFrame to a single CSV file
output_path = "/Graduation_Project/transformed_data/schema/customer_dim.csv"
customer_dim_df.coalesce(1).write.mode('overwrite').csv(output_path, header=True)

In [90]:
# Perform an inner join on transaction_date and date
online_fact_df = online_fact_df.join(customer_dim_df, online_fact_df["customer_id"] == customer_dim_df["customer_id"], "inner")
online_fact_df.coalesce(1)

+----------------+-----------+-----+--------+--------------+-----+------------------+--------+-----------------+--------------------+-----------------+--------------------+-----------+-----------+--------------+--------------------+------------+
|  transaction_id|customer_id|units|discount|payment_method|group|       total_price|date_key|shipping_zip_code|      shipping_state|    shipping_city|shipping_street_name|product_key|customer_id| customer_name|       cleaned_email|customer_key|
+----------------+-----------+-----+--------+--------------+-----+------------------+--------+-----------------+--------------------+-----------------+--------------------+-----------+-----------+--------------+--------------------+------------+
|trx-812311767786|      85525|    8|     0.2|        Stripe|    6| 5759.936085829735|20220101|            05301|             Vermont| West Brattleboro|     129 Glen Street|         11|      85525|Michael Wilson|michael.wilson@gm...|          64|
|trx-777696509076|      85525|   10|    0.15|        PayPal|    5| 509.9150143027305|20220103|            06040|         Connecticut|       Manchester|    81 Lyness Street|          7|      85525|Michael Wilson|michael.wilson@gm...|          64|
|trx-961752173520|      85525|    5|    0.15|        PayPal|    6|254.95750715136526|20220103|            06040|         Connecticut|       Manchester|   117 Adelaide Road|          7|      85525|Michael Wilson|michael.wilson@gm...|          64|
|trx-752459780179|      85525|    9|    0.05|   Credit Card|    6|1111.4144860535862|20220103|            85310|             Arizona|         Glendale|23124 North 71st ...|         21|      85525|Michael Wilson|michael.wilson@gm...|          64|
|trx-895691945634|      85525|    5|     0.2|   Credit Card|    6|159.96000238358977|20220104|            05905|             Vermont|        Maidstone|     3541 North Road|         23|      85525|Michael Wilson|michael.wilson@gm...|          64|
|trx-985459269846|      85525|    8|    0.05|   Credit Card|    6| 1139.923985695839|20220106|            02143|       Massachusetts|       Somerville|    13 Warren Avenue|         18|      85525|Michael Wilson|michael.wilson@gm...|          64|
|trx-667598624256|      85525|   10|     0.0|        Stripe|    6|            1299.9|20220106|            37209|           Tennessee|        Nashville|410 51st Avenue N...|         21|      85525|Michael Wilson|michael.wilson@gm...|          64|
|trx-566935476646|      85525|    9|     0.1|   Credit Card|    6| 404.9189892733097|20220106|            06040|         Connecticut|       Manchester|     46 Lilac Street|         24|      85525|Michael Wilson|michael.wilson@gm...|          64|
|trx-574027283390|      85525|    1|    0.15|        PayPal|    6| 84.99150238394736|20220107|            20001|District of Columbia|       Washington|81 Seaton Place N...|          4|      85525|Michael Wilson|michael.wilson@gm...|          64|
|trx-037078085183|      85525|    8|     0.0|        PayPal|    6|           1199.92|20220107|            80003|            Colorado|           Arvada|   7912 Depew Street|         13|      85525|Michael Wilson|michael.wilson@gm...|          64|
|trx-892075794717|      85525|    2|    0.15|        Stripe|    6|33.983000953197475|20220108|            37027|           Tennessee|        Brentwood|123 Villa View Court|         28|      85525|Michael Wilson|michael.wilson@gm...|          64|
|trx-535934591770|      85525|    8|     0.2|        Stripe|    6| 319.9360047674179|20220108|            94566|          California|       Pleasanton|   3027 Badger Drive|          6|      85525|Michael Wilson|michael.wilson@gm...|          64|
|trx-962839519707|      85525|    3|     0.0|        PayPal|    6|             89.97|20220108|            72701|            Arkansas|     Fayetteville|906 West Berry St...|         17|      85525|Michael Wilson|michael.wilson@gm...|          64|
|trx-555561699001|      85525|    9|     0.0|   Credit Card|    6|            179.91|20220113|            72703|            Arkansas|     Fayetteville|3729 East Mission...|         28|      85525|Michael Wilson|michael.wilson@gm...|          64|
|trx-615813649970|      85525|    1|     0.2|   Credit Card|    6| 31.99200047671795|20220113|            20776|            Maryland|          Harwood|   4432 Cobalt Drive|         23|      85525|Michael Wilson|michael.wilson@gm...|          64|
|trx-003799553460|      85525|    7|     0.2|        Stripe|    6| 167.9440025025606|20220114|            85308|             Arizona|         Glendale|6311 West Wagoner...|         17|      85525|Michael Wilson|michael.wilson@gm...|          64|
|trx-991521760170|      85525|    5|     0.0|        Stripe|    6|            149.95|20220115|            32408|             Florida|Panama City Beach|      409 Snook Lane|         19|      85525|Michael Wilson|michael.wilson@gm...|          64|
|trx-332682461625|      85525|    6|     0.0|        Stripe|    6|            179.94|20220120|            36104|             Alabama|       Montgomery|204 North Holt St...|         15|      85525|Michael Wilson|michael.wilson@gm...|          64|
|trx-883478163591|      85525|    4|     0.0|        Stripe|    6|            519.96|20220121|            05001|             Vermont|         Hartford|      10 Skyline Way|          9|      85525|Michael Wilson|michael.wilson@gm...|          64|
|trx-434628373591|      85525|    2|     0.2|        Stripe|    6|  63.9840009534359|20220122|            20005|District of Columbia|       Washington|1420 12th Street ...|         10|      85525|Michael Wilson|michael.wilson@gm...|          64|
+----------------+-----------+-----+--------+--------------+-----+------------------+--------+-----------------+--------------------+-----------------+--------------------+-----------+-----------+--------------+--------------------+------------+
only showing top 20 rows

In [91]:
online_fact_df=online_fact_df.drop("customer_id","cleaned_email","customer_name")
online_fact_df.coalesce(1)

+----------------+-----+--------+--------------+-----+------------------+--------+-----------------+--------------+-----------------+--------------------+-----------+------------+
|  transaction_id|units|discount|payment_method|group|       total_price|date_key|shipping_zip_code|shipping_state|    shipping_city|shipping_street_name|product_key|customer_key|
+----------------+-----+--------+--------------+-----+------------------+--------+-----------------+--------------+-----------------+--------------------+-----------+------------+
|trx-038966531476|    9|     0.0|        PayPal|    2|           8099.91|20220101|            05446|       Vermont|       Colchester|   1783 Blakely Road|         11|          50|
|trx-196650129641|    1|     0.0|        Stripe|    2|             79.99|20220101|            02149| Massachusetts|          Everett|     88 Shute Street|          8|          41|
|trx-961186738199|    8|     0.2|        PayPal|    3| 831.9360123968125|20220101|            05478|       Vermont|Saint Albans City|   45 Parsons Avenue|          9|          79|
|trx-961186738199|    8|     0.2|        PayPal|    1| 831.9360123968125|20220101|            05478|       Vermont|Saint Albans City|   45 Parsons Avenue|          9|          79|
|trx-807433736285|    9|     0.2|        Stripe|    4|359.92800536334516|20220101|            05079|       Vermont|         Vershire|    6460 Vermont 113|         24|          44|
|trx-378573229506|    1|    0.05|   Credit Card|    6|56.990499284863475|20220101|            94545|    California|          Hayward|  1265 Xavier Avenue|          7|          91|
|trx-812311767786|    8|     0.2|        Stripe|    6| 5759.936085829735|20220101|            05301|       Vermont| West Brattleboro|     129 Glen Street|         11|          64|
|trx-714156427993|    4|     0.0|        PayPal|    6|             79.96|20220101|            06040|   Connecticut|       Manchester|   52 Linnmore Drive|          5|          58|
|trx-926752978689|   10|     0.0|        PayPal|    6|             299.9|20220101|            05461|       Vermont|        Hinesburg|     1313 North Road|         15|          92|
|trx-377988149376|    6|     0.0|        Stripe|    6|            149.94|20220101|            35242|       Alabama|       Birmingham|3328 Sunny Meadow...|         30|          87|
|trx-578810017511|    2|    0.05|        PayPal|    6| 56.98099928498268|20220101|            94601|    California|          Oakland| 3578 Galindo Street|         27|          49|
|trx-935354519699|    9|     0.2|        Stripe|    6|287.92800429046156|20220101|            06040|   Connecticut|       Manchester|   396 Hartford Road|         10|           7|
|trx-062565092206|    2|     0.2|        Stripe|    6|1599.9840238416195|20220101|            31405|       Georgia|         Savannah|1363 Dean Forest ...|          1|          73|
|trx-291831425853|    3|     0.2|        Stripe|    6| 359.9760053640604|20220101|            31410|       Georgia|         Savannah|206 Blue Marlin D...|         13|          59|
|trx-490934091046|    5|     0.0|        PayPal|    6|           1999.95|20220101|            37210|     Tennessee|        Nashville| 95 Claiborne Street|         14|          27|
|trx-477242925566|    7|     0.0|        PayPal|    6|            419.93|20220101|            06042|   Connecticut|       Manchester|   23 Columbia Drive|          7|          44|
|trx-657276071144|   10|     0.0|        PayPal|    6|199.89999999999998|20220101|            02151| Massachusetts|           Revere|   98 Lincoln Street|         28|          19|
|trx-521851194970|    6|     0.0|   Credit Card|    6|           1799.94|20220101|            94702|    California|         Berkeley|  1209 Parker Street|          3|           9|
|trx-835639572082|    7|     0.2|   Credit Card|    6| 279.9440041714907|20220101|            73162|      Oklahoma|    Oklahoma City|      11724 Rushmore|          6|          60|
|trx-832513610642|    3|     0.0|        Stripe|    6|2699.9700000000003|20220101|            85301|       Arizona|         Glendale|6802 North 67th A...|         11|          71|
+----------------+-----+--------+--------------+-----+------------------+--------+-----------------+--------------+-----------------+--------------------+-----------+------------+
only showing top 20 rows

In [92]:
# Perform an inner join on transaction_date and date
offline_fact_df = offline_fact_df.join(customer_dim_df, offline_fact_df["customer_id"] == customer_dim_df["customer_id"], "inner")
offline_fact_df.coalesce(1)

+----------------+-----------+--------------+---------+-----+--------+--------------+------------------+--------+-----------+-----------+-------------+-------------------+------------+
|  transaction_id|customer_id|sales_agent_id|branch_id|units|discount|payment_method|       total_price|date_key|product_key|customer_id|customer_name|      cleaned_email|customer_key|
+----------------+-----------+--------------+---------+-----+--------+--------------+------------------+--------+-----------+-----------+-------------+-------------------+------------+
|trx-209702051200|      85525|          11.0|      1.0|    5|     0.0|          Cash|           1499.95|20221005|         12|      85525|    Ava Jones|ava.jones@yahoo.com|          64|
|trx-267818677599|      85525|           3.0|      2.0|    5|     0.0|   Credit Card|            399.95|20221005|         22|      85525|    Ava Jones|ava.jones@yahoo.com|          64|
|trx-956064519174|      85525|          11.0|      3.0|    5|     0.0|          Cash|199.95000000000002|20221005|         29|      85525|    Ava Jones|ava.jones@yahoo.com|          64|
|trx-480863914129|      85525|          11.0|      1.0|    2|     0.0|   Credit Card|             79.98|20221005|         29|      85525|    Ava Jones|ava.jones@yahoo.com|          64|
|trx-288544269912|      85525|           2.0|      2.0|    4|     0.2|   Credit Card|2879.9680429148675|20221005|         11|      85525|    Ava Jones|ava.jones@yahoo.com|          64|
|trx-453952256916|      85525|           5.0|      6.0|    2|     0.0|          Cash|             79.98|20221005|         10|      85525|    Ava Jones|ava.jones@yahoo.com|          64|
|trx-320018303559|      85525|           7.0|      4.0|   10|     0.2|          Cash|319.92000476717953|20221005|         10|      85525|    Ava Jones|ava.jones@yahoo.com|          64|
|trx-024932783521|      85525|           1.0|      3.0|    6|     0.0|          Cash|           2999.94|20221005|         25|      85525|    Ava Jones|ava.jones@yahoo.com|          64|
|trx-766570299689|      85525|           5.0|      3.0|    6|    0.05|          Cash| 227.9429971396923|20230121|         16|      85525|    Ava Jones|ava.jones@yahoo.com|          64|
|trx-023095954247|      85525|           3.0|      6.0|    4|     0.0|          Cash|             79.96|20230121|         28|      85525|    Ava Jones|ava.jones@yahoo.com|          64|
|trx-441661829005|      85525|           9.0|      2.0|    3|     0.0|          Cash|2699.9700000000003|20230121|         11|      85525|    Ava Jones|ava.jones@yahoo.com|          64|
|trx-486427858903|      85525|          10.0|      1.0|    9|     0.1|          Cash| 4049.918892713785|20230121|         25|      85525|    Ava Jones|ava.jones@yahoo.com|          64|
|trx-112384316514|      85525|           2.0|      2.0|    6|     0.1|   Credit Card|215.94599427938462|20230121|         10|      85525|    Ava Jones|ava.jones@yahoo.com|          64|
|trx-274247034282|      85525|           2.0|      6.0|    5|     0.2|          Cash|239.96000357568263|20230501|         20|      85525|    Ava Jones|ava.jones@yahoo.com|          64|
|trx-248537789703|      85525|           8.0|      4.0|    4|    0.05|   Credit Card| 3419.961957085133|20230501|         11|      85525|    Ava Jones|ava.jones@yahoo.com|          64|
|trx-026524495372|      85525|          11.0|      1.0|    2|     0.0|          Cash|             59.98|20230501|         17|      85525|    Ava Jones|ava.jones@yahoo.com|          64|
|trx-769359584658|      85525|          11.0|      2.0|    4|     0.1|   Credit Card|143.96399618625642|20230501|         29|      85525|    Ava Jones|ava.jones@yahoo.com|          64|
|trx-363214703408|      85525|           6.0|      2.0|    3|     0.1|          Cash|107.97299713969231|20230501|         29|      85525|    Ava Jones|ava.jones@yahoo.com|          64|
|trx-935715853571|      85525|          10.0|      5.0|    3|     0.1|   Credit Card|1079.9729713904858|20230501|         14|      85525|    Ava Jones|ava.jones@yahoo.com|          64|
|trx-315529317928|      85525|           2.0|      4.0|    3|     0.0|   Credit Card|            149.97|20230501|         24|      85525|    Ava Jones|ava.jones@yahoo.com|          64|
+----------------+-----------+--------------+---------+-----+--------+--------------+------------------+--------+-----------+-----------+-------------+-------------------+------------+
only showing top 20 rows

In [93]:
offline_fact_df=offline_fact_df.drop( "customer_id")
offline_fact_df.coalesce(1)

+----------------+--------------+---------+-----+--------+--------------+------------------+--------+-----------+--------------+--------------------+------------+
|  transaction_id|sales_agent_id|branch_id|units|discount|payment_method|       total_price|date_key|product_key| customer_name|       cleaned_email|customer_key|
+----------------+--------------+---------+-----+--------+--------------+------------------+--------+-----------+--------------+--------------------+------------+
|trx-209702051200|          11.0|      1.0|    5|     0.0|          Cash|           1499.95|20221005|         12|Michael Wilson|michael.wilson@gm...|          64|
|trx-267818677599|           3.0|      2.0|    5|     0.0|   Credit Card|            399.95|20221005|         22|Michael Wilson|michael.wilson@gm...|          64|
|trx-956064519174|          11.0|      3.0|    5|     0.0|          Cash|199.95000000000002|20221005|         29|Michael Wilson|michael.wilson@gm...|          64|
|trx-480863914129|          11.0|      1.0|    2|     0.0|   Credit Card|             79.98|20221005|         29|Michael Wilson|michael.wilson@gm...|          64|
|trx-288544269912|           2.0|      2.0|    4|     0.2|   Credit Card|2879.9680429148675|20221005|         11|Michael Wilson|michael.wilson@gm...|          64|
|trx-453952256916|           5.0|      6.0|    2|     0.0|          Cash|             79.98|20221005|         10|Michael Wilson|michael.wilson@gm...|          64|
|trx-320018303559|           7.0|      4.0|   10|     0.2|          Cash|319.92000476717953|20221005|         10|Michael Wilson|michael.wilson@gm...|          64|
|trx-024932783521|           1.0|      3.0|    6|     0.0|          Cash|           2999.94|20221005|         25|Michael Wilson|michael.wilson@gm...|          64|
|trx-766570299689|           5.0|      3.0|    6|    0.05|          Cash| 227.9429971396923|20230121|         16|Michael Wilson|michael.wilson@gm...|          64|
|trx-023095954247|           3.0|      6.0|    4|     0.0|          Cash|             79.96|20230121|         28|Michael Wilson|michael.wilson@gm...|          64|
|trx-441661829005|           9.0|      2.0|    3|     0.0|          Cash|2699.9700000000003|20230121|         11|Michael Wilson|michael.wilson@gm...|          64|
|trx-486427858903|          10.0|      1.0|    9|     0.1|          Cash| 4049.918892713785|20230121|         25|Michael Wilson|michael.wilson@gm...|          64|
|trx-112384316514|           2.0|      2.0|    6|     0.1|   Credit Card|215.94599427938462|20230121|         10|Michael Wilson|michael.wilson@gm...|          64|
|trx-274247034282|           2.0|      6.0|    5|     0.2|          Cash|239.96000357568263|20230501|         20|Michael Wilson|michael.wilson@gm...|          64|
|trx-248537789703|           8.0|      4.0|    4|    0.05|   Credit Card| 3419.961957085133|20230501|         11|Michael Wilson|michael.wilson@gm...|          64|
|trx-026524495372|          11.0|      1.0|    2|     0.0|          Cash|             59.98|20230501|         17|Michael Wilson|michael.wilson@gm...|          64|
|trx-769359584658|          11.0|      2.0|    4|     0.1|   Credit Card|143.96399618625642|20230501|         29|Michael Wilson|michael.wilson@gm...|          64|
|trx-363214703408|           6.0|      2.0|    3|     0.1|          Cash|107.97299713969231|20230501|         29|Michael Wilson|michael.wilson@gm...|          64|
|trx-935715853571|          10.0|      5.0|    3|     0.1|   Credit Card|1079.9729713904858|20230501|         14|Michael Wilson|michael.wilson@gm...|          64|
|trx-315529317928|           2.0|      4.0|    3|     0.0|   Credit Card|            149.97|20230501|         24|Michael Wilson|michael.wilson@gm...|          64|
+----------------+--------------+---------+-----+--------+--------------+------------------+--------+-----------+--------------+--------------------+------------+
only showing top 20 rows

In [63]:
offline_df.cache()

KeyboardInterrupt:

In [60]:
#store branch dim

branches_dim_df=offline_df.select(
    col("branch_id"),
    col("branch_location"),
    col("branch_establish_date"),
    col("branch_class")).distinct()

branches_dim_df.show()

KeyboardInterrupt:

In [95]:
# Define a Window specification
window_spec = Window.orderBy("branch_id")

# Add a product_key column using row_number
branches_dim_df = branches_dim_df.withColumn("branch_key", row_number().over(window_spec))

branches_dim_df.coalesce(1)

+---------+---------------+---------------------+------------+----------+
|branch_id|branch_location|branch_establish_date|branch_class|branch_key|
+---------+---------------+---------------------+------------+----------+
|      1.0|       New York|           2017-01-15|           A|         1|
|      2.0|    Los Angeles|           2016-07-28|           B|         2|
|      3.0|        Chicago|           2015-03-10|           A|         3|
|      4.0|        Houston|           2016-11-05|           D|         4|
|      5.0|        Phoenix|           2017-09-20|           C|         5|
|      6.0|       Oklahoma|           2016-09-20|           A|         6|
+---------+---------------+---------------------+------------+----------+

In [96]:
# Write the merged DataFrame to a single CSV file
output_path = "/Graduation_Project/transformed_data/schema/branches_dim.csv"
branches_dim_df.coalesce(1).write.mode('overwrite').csv(output_path, header=True)

In [97]:
# Perform an inner join on transaction_date and date
offline_fact_df = offline_fact_df.join(branches_dim_df, offline_fact_df["branch_id"] == branches_dim_df["branch_id"], "inner")
offline_fact_df.coalesce(1)

+----------------+--------------+---------+-----+--------+--------------+------------------+--------+-----------+-------------+--------------------+------------+---------+---------------+---------------------+------------+----------+
|  transaction_id|sales_agent_id|branch_id|units|discount|payment_method|       total_price|date_key|product_key|customer_name|       cleaned_email|customer_key|branch_id|branch_location|branch_establish_date|branch_class|branch_key|
+----------------+--------------+---------+-----+--------+--------------+------------------+--------+-----------+-------------+--------------------+------------+---------+---------------+---------------------+------------+----------+
|trx-006876824511|           1.0|      1.0|    7|     0.0|          Cash|209.92999999999998|20221005|         27|Olivia Taylor|olivia.taylor@out...|          59|      1.0|       New York|           2017-01-15|           A|         1|
|trx-104306490853|           4.0|      1.0|    8|     0.0|          Cash|           2399.92|20230501|          3|Olivia Taylor|olivia.taylor@out...|          59|      1.0|       New York|           2017-01-15|           A|         1|
|trx-542192368241|          11.0|      1.0|    3|     0.0|   Credit Card|             74.97|20230518|         30|Olivia Taylor|olivia.taylor@out...|          59|      1.0|       New York|           2017-01-15|           A|         1|
|trx-675147347097|           6.0|      1.0|    7|     0.2|          Cash|  839.944012516141|20221007|         13|Olivia Taylor|olivia.taylor@out...|          59|      1.0|       New York|           2017-01-15|           A|         1|
|trx-939829444413|          11.0|      1.0|    4|     0.0|   Credit Card|            319.96|20221007|          8|Olivia Taylor|olivia.taylor@out...|          59|      1.0|       New York|           2017-01-15|           A|         1|
|trx-509151139191|           7.0|      1.0|    9|    0.05|          Cash|341.91449570953847|20230421|         29|Olivia Taylor|olivia.taylor@out...|          59|      1.0|       New York|           2017-01-15|           A|         1|
|trx-889437846402|          10.0|      1.0|    8|     0.2|          Cash| 255.9360038137436|20230428|         29|Olivia Taylor|olivia.taylor@out...|          59|      1.0|       New York|           2017-01-15|           A|         1|
|trx-813287633702|           1.0|      1.0|    4|     0.0|          Cash|            799.96|20230428|         26|Olivia Taylor|olivia.taylor@out...|          59|      1.0|       New York|           2017-01-15|           A|         1|
|trx-813287633702|           1.0|      1.0|    4|     0.0|          Cash|            799.96|20230428|         26|Olivia Taylor|olivia.taylor@out...|          59|      1.0|       New York|           2017-01-15|           A|         1|
|trx-374223256508|           7.0|      1.0|    2|     0.2|          Cash| 39.98400059580803|20220517|         30|Olivia Taylor|olivia.taylor@out...|          59|      1.0|       New York|           2017-01-15|           A|         1|
|trx-492464614770|          11.0|      1.0|    4|     0.0|   Credit Card|             79.96|20220517|         28|Olivia Taylor|olivia.taylor@out...|          59|      1.0|       New York|           2017-01-15|           A|         1|
|trx-191276409046|          10.0|      1.0|    4|     0.1|          Cash|143.96399618625642|20220517|         29|Olivia Taylor|olivia.taylor@out...|          59|      1.0|       New York|           2017-01-15|           A|         1|
|trx-087849869724|           7.0|      1.0|    6|     0.0|          Cash|            299.94|20230210|          6|Olivia Taylor|olivia.taylor@out...|          59|      1.0|       New York|           2017-01-15|           A|         1|
|trx-276945950873|           2.0|      1.0|    9|     0.2|   Credit Card|287.92800429046156|20230607|         23|Olivia Taylor|olivia.taylor@out...|          59|      1.0|       New York|           2017-01-15|           A|         1|
|trx-354180575365|          11.0|      1.0|    6|    0.05|          Cash| 227.9429971396923|20230310|         10|Olivia Taylor|olivia.taylor@out...|          59|      1.0|       New York|           2017-01-15|           A|         1|
|trx-408578467942|          11.0|      1.0|    7|     0.0|   Credit Card| 909.9300000000001|20230310|          9|Olivia Taylor|olivia.taylor@out...|          59|      1.0|       New York|           2017-01-15|           A|         1|
|trx-903716220298|           1.0|      1.0|    4|     0.2|   Credit Card| 415.9680061984063|20230310|          9|Olivia Taylor|olivia.taylor@out...|          59|      1.0|       New York|           2017-01-15|           A|         1|
|trx-898583933804|           8.0|      1.0|    3|     0.2|          Cash| 95.97600143015384|20230311|         23|Olivia Taylor|olivia.taylor@out...|          59|      1.0|       New York|           2017-01-15|           A|         1|
|trx-703389135837|           5.0|      1.0|    6|    0.15|          Cash|152.94900429010391|20230311|         17|Olivia Taylor|olivia.taylor@out...|          59|      1.0|       New York|           2017-01-15|           A|         1|
|trx-134419561957|           6.0|      1.0|    5|     0.0|   Credit Card|199.95000000000002|20230311|         23|Olivia Taylor|olivia.taylor@out...|          59|      1.0|       New York|           2017-01-15|           A|         1|
+----------------+--------------+---------+-----+--------+--------------+------------------+--------+-----------+-------------+--------------------+------------+---------+---------------+---------------------+------------+----------+
only showing top 20 rows

In [98]:
offline_fact_df=offline_fact_df.drop("branch_class", "branch_establish_date", "branch_location","branch_id")
offline_fact_df.coalesce(1)

+----------------+--------------+-----+--------+--------------+------------------+--------+-----------+--------------+--------------------+------------+----------+
|  transaction_id|sales_agent_id|units|discount|payment_method|       total_price|date_key|product_key| customer_name|       cleaned_email|customer_key|branch_key|
+----------------+--------------+-----+--------+--------------+------------------+--------+-----------+--------------+--------------------+------------+----------+
|trx-529404741041|           4.0|    2|     0.0|          Cash|            259.98|20220417|         21|Michael Wilson|michael.wilson@gm...|          64|         1|
|trx-851352592156|           1.0|    3|     0.1|          Cash|107.97299713969231|20220417|         16|Michael Wilson|michael.wilson@gm...|          64|         5|
|trx-056857976731|           6.0|    1|    0.05|          Cash| 379.9904952317476|20220417|         14|Michael Wilson|michael.wilson@gm...|          64|         2|
|trx-689950066124|           8.0|    4|    0.15|          Cash|2379.9660667562484|20220417|          2|Michael Wilson|michael.wilson@gm...|          64|         3|
|trx-997480538575|          10.0|    5|     0.0|          Cash|            649.95|20220417|         21|Michael Wilson|michael.wilson@gm...|          64|         4|
|trx-785956713142|           3.0|    7|     0.2|   Credit Card|  727.944010847211|20220417|         21|Michael Wilson|michael.wilson@gm...|          64|         1|
|trx-249207337423|           4.0|    8|     0.0|          Cash|            479.92|20220417|          7|Michael Wilson|michael.wilson@gm...|          64|         5|
|trx-730939790801|           4.0|    3|     0.2|   Credit Card|479.97600715219977|20220611|         26|Michael Wilson|michael.wilson@gm...|          64|         4|
|trx-031075541928|           7.0|    1|     0.0|          Cash|             79.99|20220611|         22|Michael Wilson|michael.wilson@gm...|          64|         3|
|trx-854054872535|           7.0|    6|     0.0|   Credit Card|5399.9400000000005|20220611|         11|Michael Wilson|michael.wilson@gm...|          64|         3|
|trx-113821332294|           8.0|    6|     0.0|   Credit Card| 599.9399999999999|20220611|          4|Michael Wilson|michael.wilson@gm...|          64|         3|
|trx-689026840018|           6.0|    1|     0.0|   Credit Card|            499.99|20220611|         25|Michael Wilson|michael.wilson@gm...|          64|         3|
|trx-234454794766|           9.0|    6|     0.0|          Cash|           2399.94|20220611|         14|Michael Wilson|michael.wilson@gm...|          64|         5|
|trx-549750025827|           6.0|    6|     0.0|          Cash|            179.94|20230405|         27|Michael Wilson|michael.wilson@gm...|          64|         1|
|trx-836435734184|           3.0|    8|     0.0|          Cash|            239.92|20230405|         19|Michael Wilson|michael.wilson@gm...|          64|         2|
|trx-898716294389|           1.0|    5|     0.1|          Cash|179.95499523282052|20230405|         23|Michael Wilson|michael.wilson@gm...|          64|         4|
|trx-364228058787|           5.0|    7|     0.2|          Cash| 559.9440083438158|20230405|          4|Michael Wilson|michael.wilson@gm...|          64|         5|
|trx-254809886548|           5.0|    1|     0.0|          Cash|             39.99|20230405|         29|Michael Wilson|michael.wilson@gm...|          64|         1|
|trx-055421518782|           4.0|    2|     0.0|          Cash|             79.98|20230405|         16|Michael Wilson|michael.wilson@gm...|          64|         6|
|trx-134581743940|           6.0|    1|    0.05|          Cash|142.49049821197988|20230405|         13|Michael Wilson|michael.wilson@gm...|          64|         3|
+----------------+--------------+-----+--------+--------------+------------------+--------+-----------+--------------+--------------------+------------+----------+
only showing top 20 rows

In [99]:
sales_agent_dim_df=offline_merged_df.select(
    col("sales_agent_id"),
    col("sales_agent_hire_date"),
    col("sales_agent_name")).dropDuplicates(["sales_agent_id"])

sales_agent_dim_df.show()

+--------------+---------------------+------------------+
|sales_agent_id|sales_agent_hire_date|  sales_agent_name|
+--------------+---------------------+------------------+
|           1.0|           2020-06-10|          John Doe|
|           9.0|           2019-07-19|   Daniel Martinez|
|          10.0|           2019-11-10|      Sophia Moore|
|           5.0|           2020-06-23|      David Wilson|
|           6.0|           2018-08-09|       Emma Taylor|
|           4.0|           2018-11-12|       Emily Brown|
|           7.0|           2018-07-05|Christopher Miller|
|          11.0|           2018-07-10|         john wick|
|           2.0|           2021-06-08|        Jane Smith|
|           8.0|           2019-12-08|      Olivia Davis|
|           3.0|           2019-07-22|   Michael Johnson|
+--------------+---------------------+------------------+

In [100]:
# Define a Window specification
window_spec = Window.orderBy("sales_agent_id")

# Add a product_key column using row_number
sales_agent_dim_df = sales_agent_dim_df.withColumn("sales_agent_key", row_number().over(window_spec))

sales_agent_dim_df.coalesce(1)

+--------------+---------------------+------------------+---------------+
|sales_agent_id|sales_agent_hire_date|  sales_agent_name|sales_agent_key|
+--------------+---------------------+------------------+---------------+
|           1.0|           2020-06-10|          John Doe|              1|
|          10.0|           2019-11-10|      Sophia Moore|              2|
|          11.0|           2018-07-10|         john wick|              3|
|           2.0|           2021-06-08|        Jane Smith|              4|
|           3.0|           2019-07-22|   Michael Johnson|              5|
|           4.0|           2018-11-12|       Emily Brown|              6|
|           5.0|           2020-06-23|      David Wilson|              7|
|           6.0|           2018-08-09|       Emma Taylor|              8|
|           7.0|           2018-07-05|Christopher Miller|              9|
|           8.0|           2019-12-08|      Olivia Davis|             10|
|           9.0|           2019-07-19|   Daniel Martinez|             11|
+--------------+---------------------+------------------+---------------+

In [101]:
# Write the merged DataFrame to a single CSV file
output_path = "/Graduation_Project/transformed_data/schema/sales_agent_dim.csv"
sales_agent_dim_df.coalesce(1).write.mode('overwrite').csv(output_path, header=True)

In [102]:
# Perform an inner join on transaction_date and date
offline_fact_df = offline_fact_df.join(sales_agent_dim_df, offline_fact_df["sales_agent_id"] == sales_agent_dim_df["sales_agent_id"], "inner")
offline_fact_df.coalesce(1)

+----------------+--------------+-----+--------+--------------+------------------+--------+-----------+--------------+--------------------+------------+----------+--------------+---------------------+----------------+---------------+
|  transaction_id|sales_agent_id|units|discount|payment_method|       total_price|date_key|product_key| customer_name|       cleaned_email|customer_key|branch_key|sales_agent_id|sales_agent_hire_date|sales_agent_name|sales_agent_key|
+----------------+--------------+-----+--------+--------------+------------------+--------+-----------+--------------+--------------------+------------+----------+--------------+---------------------+----------------+---------------+
|trx-289127765128|           1.0|    5|    0.15|   Credit Card| 212.4575059592724|20231023|         24|Michael Wilson|michael.wilson@gm...|          64|         4|           1.0|           2020-06-10|        John Doe|              1|
|trx-056802898526|           1.0|    4|     0.2|          Cash| 959.9680143046379|20231023|          3|Michael Wilson|michael.wilson@gm...|          64|         2|           1.0|           2020-06-10|        John Doe|              1|
|trx-196446387014|           1.0|    9|    0.15|          Cash|229.42350643515584|20220909|         17|Michael Wilson|michael.wilson@gm...|          64|         4|           1.0|           2020-06-10|        John Doe|              1|
|trx-289381747639|           1.0|    2|     0.0|   Credit Card|             99.98|20220328|         24|Michael Wilson|michael.wilson@gm...|          64|         3|           1.0|           2020-06-10|        John Doe|              1|
|trx-035406685771|           1.0|    2|     0.2|   Credit Card|479.98400715231895|20220328|          3|Michael Wilson|michael.wilson@gm...|          64|         1|           1.0|           2020-06-10|        John Doe|              1|
|trx-381882922314|           1.0|    8|     0.1|   Credit Card| 575.9279847431183|20220326|         22|Michael Wilson|michael.wilson@gm...|          64|         2|           1.0|           2020-06-10|        John Doe|              1|
|trx-684949260409|           1.0|    1|     0.1|          Cash|35.990999046564106|20220616|         29|Michael Wilson|michael.wilson@gm...|          64|         4|           1.0|           2020-06-10|        John Doe|              1|
|trx-569371592421|           1.0|    7|     0.0|   Credit Card|            699.93|20230724|          4|Michael Wilson|michael.wilson@gm...|          64|         4|           1.0|           2020-06-10|        John Doe|              1|
|trx-428985307459|           1.0|    2|     0.0|   Credit Card|           1999.98|20220226|          1|Michael Wilson|michael.wilson@gm...|          64|         3|           1.0|           2020-06-10|        John Doe|              1|
|trx-252148186648|           1.0|    6|     0.0|          Cash|            239.94|20230108|         29|Michael Wilson|michael.wilson@gm...|          64|         2|           1.0|           2020-06-10|        John Doe|              1|
|trx-201157300267|           1.0|    3|     0.2|   Credit Card| 719.9760107284784|20230108|         12|Michael Wilson|michael.wilson@gm...|          64|         2|           1.0|           2020-06-10|        John Doe|              1|
|trx-887993269666|           1.0|    4|     0.0|   Credit Card|            519.96|20230118|         21|Michael Wilson|michael.wilson@gm...|          64|         5|           1.0|           2020-06-10|        John Doe|              1|
|trx-472297038843|           1.0|    8|     0.0|          Cash|           2399.92|20221021|         12|Michael Wilson|michael.wilson@gm...|          64|         4|           1.0|           2020-06-10|        John Doe|              1|
|trx-400492522998|           1.0|   10|     0.0|   Credit Card|            1499.9|20221204|         18|Michael Wilson|michael.wilson@gm...|          64|         1|           1.0|           2020-06-10|        John Doe|              1|
|trx-375454375172|           1.0|   10|     0.0|   Credit Card|             299.9|20230226|         15|Michael Wilson|michael.wilson@gm...|          64|         3|           1.0|           2020-06-10|        John Doe|              1|
|trx-641369541127|           1.0|    8|     0.0|          Cash|            479.92|20220622|          7|Michael Wilson|michael.wilson@gm...|          64|         6|           1.0|           2020-06-10|        John Doe|              1|
|trx-483537571528|           1.0|    9|     0.2|   Credit Card|  935.928013946414|20220622|         21|Michael Wilson|michael.wilson@gm...|          64|         6|           1.0|           2020-06-10|        John Doe|              1|
|trx-203465158812|           1.0|    4|    0.05|   Credit Card|1519.9619809269905|20230819|         14|Michael Wilson|michael.wilson@gm...|          64|         3|           1.0|           2020-06-10|        John Doe|              1|
|trx-203465158812|           1.0|    4|    0.05|   Credit Card|1519.9619809269905|20230819|         14|Michael Wilson|michael.wilson@gm...|          64|         3|           1.0|           2020-06-10|        John Doe|              1|
|trx-700321934046|           1.0|    5|     0.0|          Cash|124.94999999999999|20230224|         30|Michael Wilson|michael.wilson@gm...|          64|         1|           1.0|           2020-06-10|        John Doe|              1|
+----------------+--------------+-----+--------+--------------+------------------+--------+-----------+--------------+--------------------+------------+----------+--------------+---------------------+----------------+---------------+
only showing top 20 rows

In [103]:
offline_fact_df=offline_fact_df.drop("sales_agent_id","sales_agent_name","sales_agent_hire_date")
offline_fact_df.coalesce(1)

+----------------+-----+--------+--------------+------------------+--------+-----------+--------------+--------------------+------------+----------+---------------+
|  transaction_id|units|discount|payment_method|       total_price|date_key|product_key| customer_name|       cleaned_email|customer_key|branch_key|sales_agent_key|
+----------------+-----+--------+--------------+------------------+--------+-----------+--------------+--------------------+------------+----------+---------------+
|trx-209702051200|    5|     0.0|          Cash|           1499.95|20221005|         12|Michael Wilson|michael.wilson@gm...|          64|         1|              3|
|trx-267818677599|    5|     0.0|   Credit Card|            399.95|20221005|         22|Michael Wilson|michael.wilson@gm...|          64|         2|              5|
|trx-956064519174|    5|     0.0|          Cash|199.95000000000002|20221005|         29|Michael Wilson|michael.wilson@gm...|          64|         3|              3|
|trx-480863914129|    2|     0.0|   Credit Card|             79.98|20221005|         29|Michael Wilson|michael.wilson@gm...|          64|         1|              3|
|trx-288544269912|    4|     0.2|   Credit Card|2879.9680429148675|20221005|         11|Michael Wilson|michael.wilson@gm...|          64|         2|              4|
|trx-453952256916|    2|     0.0|          Cash|             79.98|20221005|         10|Michael Wilson|michael.wilson@gm...|          64|         6|              7|
|trx-320018303559|   10|     0.2|          Cash|319.92000476717953|20221005|         10|Michael Wilson|michael.wilson@gm...|          64|         4|              9|
|trx-024932783521|    6|     0.0|          Cash|           2999.94|20221005|         25|Michael Wilson|michael.wilson@gm...|          64|         3|              1|
|trx-766570299689|    6|    0.05|          Cash| 227.9429971396923|20230121|         16|Michael Wilson|michael.wilson@gm...|          64|         3|              7|
|trx-023095954247|    4|     0.0|          Cash|             79.96|20230121|         28|Michael Wilson|michael.wilson@gm...|          64|         6|              5|
|trx-441661829005|    3|     0.0|          Cash|2699.9700000000003|20230121|         11|Michael Wilson|michael.wilson@gm...|          64|         2|             11|
|trx-486427858903|    9|     0.1|          Cash| 4049.918892713785|20230121|         25|Michael Wilson|michael.wilson@gm...|          64|         1|              2|
|trx-112384316514|    6|     0.1|   Credit Card|215.94599427938462|20230121|         10|Michael Wilson|michael.wilson@gm...|          64|         2|              4|
|trx-274247034282|    5|     0.2|          Cash|239.96000357568263|20230501|         20|Michael Wilson|michael.wilson@gm...|          64|         6|              4|
|trx-248537789703|    4|    0.05|   Credit Card| 3419.961957085133|20230501|         11|Michael Wilson|michael.wilson@gm...|          64|         4|             10|
|trx-026524495372|    2|     0.0|          Cash|             59.98|20230501|         17|Michael Wilson|michael.wilson@gm...|          64|         1|              3|
|trx-769359584658|    4|     0.1|   Credit Card|143.96399618625642|20230501|         29|Michael Wilson|michael.wilson@gm...|          64|         2|              3|
|trx-363214703408|    3|     0.1|          Cash|107.97299713969231|20230501|         29|Michael Wilson|michael.wilson@gm...|          64|         2|              8|
|trx-935715853571|    3|     0.1|   Credit Card|1079.9729713904858|20230501|         14|Michael Wilson|michael.wilson@gm...|          64|         5|              2|
|trx-315529317928|    3|     0.0|   Credit Card|            149.97|20230501|         24|Michael Wilson|michael.wilson@gm...|          64|         4|              4|
+----------------+-----+--------+--------------+------------------+--------+-----------+--------------+--------------------+------------+----------+---------------+
only showing top 20 rows

In [104]:
# Write the merged DataFrame to a single CSV file
output_path = "/Graduation_Project/transformed_data/schema/offline_transactions_fact.csv"
offline_fact_df.coalesce(1).write.mode('overwrite').csv(output_path, header=True)

In [105]:
# Write the merged DataFrame to a single CSV file
output_path = "/Graduation_Project/transformed_data/schema/online_transactions_fact.csv"
online_fact_df.coalesce(1).write.mode('overwrite').csv(output_path, header=True)

In [106]:
online_fact_df.count()

52500

In [107]:
offline_fact_df.count()

505000

In [59]:
from pyspark.sql import SparkSession, DataFrame
from pyspark.sql.functions import col, date_format, row_number
from pyspark.sql.window import Window
from functools import reduce
from typing import List, Tuple
from utils import Config
import os

def read_parquet(spark: SparkSession, path: str) -> DataFrame:
    return spark.read.parquet(path)

def write_parquet(df: DataFrame, path: str) -> None:
    df.write.mode('overwrite').parquet(path)

def add_surrogate_key(df: DataFrame, key_name: str, order_by: str) -> DataFrame:
    window_spec = Window.orderBy(order_by)
    return df.withColumn(key_name, row_number().over(window_spec))

def process_date_dimension(spark: SparkSession) -> DataFrame:
       return read_parquet(spark, "/user/itversity/q-company_conformed_layer/normalized_model/date_dim/date_dim_table")

def process_product_dimension(df: DataFrame) -> DataFrame:
    product_dim = df.select("product_id", "product_name", "product_category", "unit_price").distinct()
    return add_surrogate_key(product_dim, "product_key", "product_id")

def process_customer_dimension(df: DataFrame) -> DataFrame:
    customer_dim = df.select("customer_id", "customer_name", "customer_email").distinct()
    return add_surrogate_key(customer_dim, "customer_key", "customer_id")

def process_branch_dimension(df: DataFrame) -> DataFrame:
    branch_dim = df.select("branch_id", "branch_location", "branch_establish_date", "branch_class").distinct()
    return add_surrogate_key(branch_dim, "branch_key", "branch_id")

def process_sales_agent_dimension(df: DataFrame) -> DataFrame:
    sales_agent_dim = df.select("sales_agent_id", "sales_agent_hire_date", "sales_agent_name").distinct()
    return add_surrogate_key(sales_agent_dim, "sales_agent_key", "sales_agent_id")

def process_online_fact(online_df: DataFrame, date_df: DataFrame, product_df: DataFrame, customer_df: DataFrame) -> DataFrame:
    online_fact = online_df.select(
        "transaction_id", "customer_id", "product_id", "units", "unit_price", "discount",
        "payment_method", "group", "total_price", "shipping_zip_code", "shipping_state",
        "shipping_city", "shipping_street_name", date_format("transaction_date", "yyyy-MM-dd").alias("transaction_date")
    )
    
    # Join with dimension tables
    online_fact = online_fact.join(date_df.select('date_key', 'date'), online_fact["transaction_date"] == date_df["date"], "inner") \
                             .join(product_df.select('product_key', 'product_id'), "product_id") \
                             .join(customer_df.select('customer_key', 'customer_id'), "customer_id")
        
    # Select final columns
    return online_fact.select(
        "transaction_id", "customer_key", "product_key", "date_key", "units", "unit_price", "discount",
        "payment_method", "group", "total_price", "shipping_zip_code", "shipping_state",
        "shipping_city", "shipping_street_name"
    )

def process_offline_fact(offline_df: DataFrame, date_df: DataFrame, product_df: DataFrame, customer_df: DataFrame, branch_df: DataFrame, sales_agent_df: DataFrame) -> DataFrame:
    offline_fact = offline_df.select(
        "transaction_id", "customer_id", "sales_agent_id", "branch_id", "product_id",
        "units", "unit_price", "discount", "payment_method", "total_price",
        date_format("transaction_date", "yyyy-MM-dd").alias("transaction_date")
    )
    
    # Join with dimension tables
    offline_fact = offline_fact.join(date_df.select('date_key', 'date'), offline_fact["transaction_date"] == date_df["date"], "inner") \
                               .join(product_df.select('product_key', 'product_id'), "product_id") \
                               .join(customer_df.select('customer_key', 'customer_id'), "customer_id") \
                               .join(branch_df.select('branch_key', 'branch_id'), "branch_id") \
                               .join(sales_agent_df.select('sales_agent_key', 'sales_agent_id'), "sales_agent_id")
    
    # Select final columns
    return offline_fact.select(
        "transaction_id", "customer_key", "sales_agent_key", "branch_key", "product_key", "date_key",
        "units", "unit_price", "discount", "payment_method", "total_price", date_format("transaction_date", "yyyy-MM-dd").alias("transaction_date")
    )

def process_dimensions(all_df: DataFrame, offline_df: DataFrame) -> Tuple[DataFrame, DataFrame, DataFrame, DataFrame, DataFrame]:
    date_df = process_date_dimension(spark)
    product_df = process_product_dimension(all_df)
    customer_df = process_customer_dimension(all_df)
    branch_df = process_branch_dimension(offline_df)
    sales_agent_df = process_sales_agent_dimension(offline_df)
    
    return date_df, product_df, customer_df, branch_df, sales_agent_df

def save_dimensions(dimensions: List[Tuple[str, DataFrame]]) -> None:
    for name, df in dimensions:
        write_parquet(df, f"{Config.CONFORMED_NORMALIZED_BASE_PATH}/{name}/{name}")

def main():
    spark = create_spark_session()
    
    try:
        # Read denormalized data
        online_df = read_parquet(spark, f"{Config.CONFORMED_DENORMALIZED_BASE_PATH}/online_fact_table/online_merged")
        offline_df = read_parquet(spark, f"{Config.CONFORMED_DENORMALIZED_BASE_PATH}/offline_fact_table/offline_merged")
        all_df = read_parquet(spark, f"{Config.CONFORMED_DENORMALIZED_BASE_PATH}/all_sales_fact_table/sales_merged")
        
        # Process dimensions
        date_df, product_df, customer_df, branch_df, sales_agent_df = process_dimensions(all_df, offline_df)
        
        # Save dimensions
        dimensions = [
            ("product_dim", product_df),
            ("customer_dim", customer_df),
            ("branch_dim", branch_df),
            ("sales_agent_dim", sales_agent_df)
        ]
        save_dimensions(dimensions)
        
        # Process and save fact tables
        online_fact = process_online_fact(online_df, date_df, product_df, customer_df)
        offline_fact = process_offline_fact(offline_df, date_df, product_df, customer_df, branch_df, sales_agent_df)
        
        write_parquet(online_fact, f"{Config.CONFORMED_NORMALIZED_BASE_PATH}/online_sales_fact/online_fact")
        write_parquet(offline_fact, f"{Config.CONFORMED_NORMALIZED_BASE_PATH}/offline_sales_fact/offline_fact")
        
        print("Normalized model processing completed successfully.")
    
    except Exception as e:
        print(f"An error occurred: {str(e)}")
    finally:
        spark.stop()

if __name__ == "__main__":
    main()

Normalized model processing completed successfully.

In [49]:
spark.stop()

In [56]:
def read_parquet(spark: SparkSession, path: str) -> DataFrame:
    return spark.read.parquet(path)

def write_parquet(df: DataFrame, path: str) -> None:
    df.write.mode('overwrite').parquet(path)

def add_surrogate_key(df: DataFrame, key_name: str, order_by: str) -> DataFrame:
    window_spec = Window.orderBy(order_by)
    return df.withColumn(key_name, row_number().over(window_spec))

def process_date_dimension(spark: SparkSession) -> DataFrame:
       return read_parquet(spark, "/user/itversity/q-company_conformed_layer/normalized_model/date_dim/date_dim_table")

def process_product_dimension(df: DataFrame) -> DataFrame:
    product_dim = df.select("product_id", "product_name", "product_category", "unit_price").distinct()
    return add_surrogate_key(product_dim, "product_key", "product_id")

def process_customer_dimension(df: DataFrame) -> DataFrame:
    customer_dim = df.select("customer_id", "customer_name", "customer_email").distinct()
    return add_surrogate_key(customer_dim, "customer_key", "customer_id")

def process_branch_dimension(df: DataFrame) -> DataFrame:
    branch_dim = df.select("branch_id", "branch_location", "branch_establish_date", "branch_class").distinct()
    return add_surrogate_key(branch_dim, "branch_key", "branch_id")

def process_sales_agent_dimension(df: DataFrame) -> DataFrame:
    sales_agent_dim = df.select("sales_agent_id", "sales_agent_hire_date", "sales_agent_name").distinct()
    return add_surrogate_key(sales_agent_dim, "sales_agent_key", "sales_agent_id")

def process_online_fact(online_df: DataFrame, date_df: DataFrame, product_df: DataFrame, customer_df: DataFrame) -> DataFrame:
    online_fact = online_df.select(
        "transaction_id", "customer_id", "product_id", "units", "unit_price", "discount",
        "payment_method", "group", "total_price", "shipping_zip_code", "shipping_state",
        "shipping_city", "shipping_street_name", date_format("transaction_date", "yyyy-MM-dd").alias("transaction_date")
    )
    
    # Join with dimension tables
    online_fact = online_fact.join(date_df.select('date_key', 'date'), online_fact["transaction_date"] == date_df["date"], "inner") \
                             .join(product_df.select('product_key', 'product_id'), "product_id") \
                             .join(customer_df.select('customer_key', 'customer_id'), "customer_id")
        
    # Select final columns
    return online_fact.select(
        "transaction_id", "customer_key", "product_key", "date_key", "units", "unit_price", "discount",
        "payment_method", "group", "total_price", "shipping_zip_code", "shipping_state",
        "shipping_city", "shipping_street_name"
    )

def process_offline_fact(offline_df: DataFrame, date_df: DataFrame, product_df: DataFrame, customer_df: DataFrame, branch_df: DataFrame, sales_agent_df: DataFrame) -> DataFrame:
    offline_fact = offline_df.select(
        "transaction_id", "customer_id", "sales_agent_id", "branch_id", "product_id",
        "units", "unit_price", "discount", "payment_method", "total_price",
        date_format("transaction_date", "yyyy-MM-dd").alias("transaction_date")
    )
    
    # Join with dimension tables
    offline_fact = offline_fact.join(date_df.select('date_key', 'date'), offline_fact["transaction_date"] == date_df["date"], "inner") \
                               .join(product_df.select('product_key', 'product_id'), "product_id") \
                               .join(customer_df.select('customer_key', 'customer_id'), "customer_id") \
                               .join(branch_df.select('branch_key', 'branch_id'), "branch_id") \
                               .join(sales_agent_df.select('sales_agent_key', 'sales_agent_id'), "sales_agent_id")
    
    # Select final columns
    return offline_fact.select(
        "transaction_id", "customer_key", "sales_agent_key", "branch_key", "product_key", "date_key",
        "units", "unit_price", "discount", "payment_method", "total_price", date_format("transaction_date", "yyyy-MM-dd").alias("transaction_date")
    )

def process_dimensions(all_df: DataFrame, offline_df: DataFrame) -> Tuple[DataFrame, DataFrame, DataFrame, DataFrame, DataFrame]:
    date_df = process_date_dimension(spark)
    product_df = process_product_dimension(all_df)
    customer_df = process_customer_dimension(all_df)
    branch_df = process_branch_dimension(offline_df)
    sales_agent_df = process_sales_agent_dimension(offline_df)
    
    return date_df, product_df, customer_df, branch_df, sales_agent_df

def save_dimensions(dimensions: List[Tuple[str, DataFrame]]) -> None:
    for name, df in dimensions:
        write_parquet(df, f"{Config.CONFORMED_NORMALIZED_BASE_PATH}/{name}/{name}")

In [19]:
from pyspark.sql import SparkSession, DataFrame
from pyspark.sql.functions import col, date_format, row_number
from pyspark.sql.window import Window
from functools import reduce
from typing import List, Tuple
from utils import Config
import os

In [4]:

def create_spark_session() -> SparkSession:
    return SparkSession.builder \
        .appName("Normalized_Model") \
        .config("spark.sql.adaptive.enabled", "true") \
        .config("spark.sql.adaptive.coalescePartitions.enabled", "true") \
        .getOrCreate()

In [6]:
spark = create_spark_session()

In [8]:
online_df = read_parquet(spark, f"{Config.CONFORMED_DENORMALIZED_BASE_PATH}/online_fact_table/online_merged")
offline_df = read_parquet(spark, f"{Config.CONFORMED_DENORMALIZED_BASE_PATH}/offline_fact_table/offline_merged")
all_df = read_parquet(spark, f"{Config.CONFORMED_DENORMALIZED_BASE_PATH}/all_sales_fact_table/sales_merged")

In [20]:
date_df = process_date_dimension(spark)

In [25]:
date_df, product_df, customer_df, branch_df, sales_agent_df = process_dimensions(all_df, offline_df)

In [26]:
branch_df

+---------+---------------+---------------------+------------+----------+
|branch_id|branch_location|branch_establish_date|branch_class|branch_key|
+---------+---------------+---------------------+------------+----------+
|        1|       New York|           2017-01-15|           A|         1|
|        2|    Los Angeles|           2016-07-28|           B|         2|
|        3|        Chicago|           2015-03-10|           A|         3|
|        4|        Houston|           2016-11-05|           D|         4|
|        5|        Phoenix|           2017-09-20|           C|         5|
+---------+---------------+---------------------+------------+----------+

In [28]:
customer_df.count()

101

In [32]:
product_df

DataFrame[product_id: bigint, product_name: string, product_category: string, unit_price: double, product_key: int]

In [36]:
dimensions = [
            ("product_dim", product_df),
            ("customer_dim", customer_df),
            ("branch_dim", branch_df),
            ("sales_agent_dim", sales_agent_df)
        ]
save_dimensions(dimensions)

In [57]:
online_fact = process_online_fact(online_df, date_df, product_df, customer_df)
offline_fact = process_offline_fact(offline_df, date_df, product_df, customer_df, branch_df, sales_agent_df)

In [48]:
online_fact = online_df.select(
        "transaction_id", "customer_id", "product_id", "units", "unit_price", "discount",
        "payment_method", "group", "total_price", "shipping_zip_code", "shipping_state",
        "shipping_city", "shipping_street_name", date_format("transaction_date", "yyyy-MM-dd").alias("transaction_date")
    )

In [40]:
online_fact

+----------------+-----------+----------+-----+----------+--------+--------------+------+-----------+-----------------+--------------+-----------------+--------------------+----------------+
|  transaction_id|customer_id|product_id|units|unit_price|discount|payment_method| group|total_price|shipping_zip_code|shipping_state|    shipping_city|shipping_street_name|transaction_date|
+----------------+-----------+----------+-----+----------+--------+--------------+------+-----------+-----------------+--------------+-----------------+--------------------+----------------+
|trx-566523295049|      85504|         2|    6|    699.99|    0.25|   Credit Card|group1|   3149.955|            80005|      Colorado|           Arvada|12039 West 85th D...|      2022-02-24|
|trx-340311249068|      85489|         5|    5|     19.99|     0.0|        Stripe|group1|      99.95|            73135|      Oklahoma|    Oklahoma City|4725 Royal Oak Drive|      2022-10-20|
|trx-132026662696|      85546|         6|    7|     49.99|     0.2|   Credit Card|group1|    279.944|            05408|       Vermont|       Burlington|   185 Woodlawn Road|      2023-07-12|
|trx-933247844102|      85510|        28|    2|     19.99|    0.15|        Stripe|group1|     33.983|            06040|   Connecticut|       Manchester|   40 Highwood Drive|      2023-07-12|
|trx-889317927482|      85476|        29|    4|     39.99|    0.15|        PayPal|group1|    135.966|            40206|      Kentucky|       Louisville| 2721 Lindsay Avenue|      2023-03-08|
|trx-912726017128|      85560|         9|    5|    129.99|     0.0|   Credit Card|group1|     649.95|            72701|      Arkansas|     Fayetteville|112 West Center S...|      2022-06-09|
|trx-481243773278|      85513|        28|    7|     19.99|     0.0|   Credit Card|group1|     139.93|            01331| Massachusetts|            Athol|     7 Oliver Street|      2023-04-14|
|trx-667583933070|      85492|        30|    6|     24.99|     0.1|        PayPal|group1|    134.946|            37013|     Tennessee|        Nashville|1124 Bluewillow C...|      2023-04-14|
|trx-644749125609|      85513|        17|    9|     29.99|     0.0|   Credit Card|group1|     269.91|            06040|   Connecticut|       Manchester|  86 Highland Street|      2022-12-08|
|trx-269534893579|      85498|        25|    9|    499.99|     0.1|        PayPal|group1|   4049.919|            01721| Massachusetts|          Ashland|     9 Thomas Street|      2022-07-21|
|trx-832653287412|      85562|        26|    1|    199.99|     0.0|        PayPal|group1|     199.99|            93546|    California|    Mammoth Lakes|     61 Callahan Way|      2022-09-26|
|trx-971429689183|      85549|        29|    2|     39.99|    0.05|        Stripe|group1|     75.981|            36108|       Alabama|       Montgomery|    4328 Brewer Road|      2023-12-06|
|trx-989391385792|      85535|        12|    8|    299.99|     0.0|        PayPal|group1|    2399.92|            72701|      Arkansas|     Fayetteville|  1653 Brooks Avenue|      2023-08-02|
|trx-322304849280|      85493|        12|    8|    299.99|     0.0|        PayPal|group1|    2399.92|            37218|     Tennessee|        Nashville|3714 John Mallett...|      2023-08-07|
|trx-637336061119|      85539|        22|    5|     79.99|     0.0|   Credit Card|group1|     399.95|            21060|      Maryland|      Glen Burnie|    1011 Bell Avenue|      2023-01-23|
|trx-678424403739|      85551|        10|    3|     39.99|     0.0|   Credit Card|group1|     119.97|            36117|       Alabama|       Montgomery|  521 McGregor Court|      2022-04-06|
|trx-777397336194|      85514|        13|    4|    149.99|     0.2|        PayPal|group1|    479.968|            32413|       Florida|Panama City Beach|     122 Coral Drive|      2023-12-18|
|trx-648087834917|      85512|         4|    8|     99.99|     0.1|        Stripe|group1|    719.928|            37205|     Tennessee|        Nashville|733 Georgetown Drive|      2022-12-13|
|trx-097507054570|      85491|        22|    3|     79.99|     0.1|        PayPal|group1|    215.973|            05446|       Vermont|       Colchester|      29 East Avenue|      2022-02-08|
|trx-936616849836|      85471|        26|    5|    199.99|    0.15|        Stripe|group1|    849.958|            99507|        Alaska|        Anchorage|7851 Snow View Drive|      2023-06-20|
+----------------+-----------+----------+-----+----------+--------+--------------+------+-----------+-----------------+--------------+-----------------+--------------------+----------------+
only showing top 20 rows

In [50]:
online_fact

+-----------+----------+----------------+-----+----------+--------+--------------+------+-----------+-----------------+--------------+-----------------+--------------------+----------------+--------+----------+-----------+------------+
|customer_id|product_id|  transaction_id|units|unit_price|discount|payment_method| group|total_price|shipping_zip_code|shipping_state|    shipping_city|shipping_street_name|transaction_date|date_key|      date|product_key|customer_key|
+-----------+----------+----------------+-----+----------+--------+--------------+------+-----------+-----------------+--------------+-----------------+--------------------+----------------+--------+----------+-----------+------------+
|      85504|         2|trx-566523295049|    6|    699.99|    0.25|   Credit Card|group1|   3149.955|            80005|      Colorado|           Arvada|12039 West 85th D...|      2022-02-24|20220224|2022-02-24|          2|          43|
|      85489|         5|trx-340311249068|    5|     19.99|     0.0|        Stripe|group1|      99.95|            73135|      Oklahoma|    Oklahoma City|4725 Royal Oak Drive|      2022-10-20|20221020|2022-10-20|          5|          28|
|      85546|         6|trx-132026662696|    7|     49.99|     0.2|   Credit Card|group1|    279.944|            05408|       Vermont|       Burlington|   185 Woodlawn Road|      2023-07-12|20230712|2023-07-12|          6|          85|
|      85510|        28|trx-933247844102|    2|     19.99|    0.15|        Stripe|group1|     33.983|            06040|   Connecticut|       Manchester|   40 Highwood Drive|      2023-07-12|20230712|2023-07-12|         28|          49|
|      85476|        29|trx-889317927482|    4|     39.99|    0.15|        PayPal|group1|    135.966|            40206|      Kentucky|       Louisville| 2721 Lindsay Avenue|      2023-03-08|20230308|2023-03-08|         29|          15|
|      85560|         9|trx-912726017128|    5|    129.99|     0.0|   Credit Card|group1|     649.95|            72701|      Arkansas|     Fayetteville|112 West Center S...|      2022-06-09|20220609|2022-06-09|          9|          99|
|      85513|        28|trx-481243773278|    7|     19.99|     0.0|   Credit Card|group1|     139.93|            01331| Massachusetts|            Athol|     7 Oliver Street|      2023-04-14|20230414|2023-04-14|         28|          52|
|      85492|        30|trx-667583933070|    6|     24.99|     0.1|        PayPal|group1|    134.946|            37013|     Tennessee|        Nashville|1124 Bluewillow C...|      2023-04-14|20230414|2023-04-14|         30|          31|
|      85513|        17|trx-644749125609|    9|     29.99|     0.0|   Credit Card|group1|     269.91|            06040|   Connecticut|       Manchester|  86 Highland Street|      2022-12-08|20221208|2022-12-08|         17|          52|
|      85498|        25|trx-269534893579|    9|    499.99|     0.1|        PayPal|group1|   4049.919|            01721| Massachusetts|          Ashland|     9 Thomas Street|      2022-07-21|20220721|2022-07-21|         25|          37|
|      85562|        26|trx-832653287412|    1|    199.99|     0.0|        PayPal|group1|     199.99|            93546|    California|    Mammoth Lakes|     61 Callahan Way|      2022-09-26|20220926|2022-09-26|         26|         101|
|      85549|        29|trx-971429689183|    2|     39.99|    0.05|        Stripe|group1|     75.981|            36108|       Alabama|       Montgomery|    4328 Brewer Road|      2023-12-06|20231206|2023-12-06|         29|          88|
|      85535|        12|trx-989391385792|    8|    299.99|     0.0|        PayPal|group1|    2399.92|            72701|      Arkansas|     Fayetteville|  1653 Brooks Avenue|      2023-08-02|20230802|2023-08-02|         12|          74|
|      85493|        12|trx-322304849280|    8|    299.99|     0.0|        PayPal|group1|    2399.92|            37218|     Tennessee|        Nashville|3714 John Mallett...|      2023-08-07|20230807|2023-08-07|         12|          32|
|      85539|        22|trx-637336061119|    5|     79.99|     0.0|   Credit Card|group1|     399.95|            21060|      Maryland|      Glen Burnie|    1011 Bell Avenue|      2023-01-23|20230123|2023-01-23|         22|          78|
|      85551|        10|trx-678424403739|    3|     39.99|     0.0|   Credit Card|group1|     119.97|            36117|       Alabama|       Montgomery|  521 McGregor Court|      2022-04-06|20220406|2022-04-06|         10|          90|
|      85514|        13|trx-777397336194|    4|    149.99|     0.2|        PayPal|group1|    479.968|            32413|       Florida|Panama City Beach|     122 Coral Drive|      2023-12-18|20231218|2023-12-18|         13|          53|
|      85512|         4|trx-648087834917|    8|     99.99|     0.1|        Stripe|group1|    719.928|            37205|     Tennessee|        Nashville|733 Georgetown Drive|      2022-12-13|20221213|2022-12-13|          4|          51|
|      85491|        22|trx-097507054570|    3|     79.99|     0.1|        PayPal|group1|    215.973|            05446|       Vermont|       Colchester|      29 East Avenue|      2022-02-08|20220208|2022-02-08|         22|          30|
|      85471|        26|trx-936616849836|    5|    199.99|    0.15|        Stripe|group1|    849.958|            99507|        Alaska|        Anchorage|7851 Snow View Drive|      2023-06-20|20230620|2023-06-20|         26|          10|
+-----------+----------+----------------+-----+----------+--------+--------------+------+-----------+-----------------+--------------+-----------------+--------------------+----------------+--------+----------+-----------+------------+
only showing top 20 rows

In [53]:
offline_fact = offline_df.select(
        "transaction_id", "customer_id", "sales_agent_id", "branch_id", "product_id",
        "units", "unit_price", "discount", "payment_method", "total_price",
        date_format("transaction_date", "yyyy-MM-dd").alias("transaction_date")
    )

In [54]:
offline_fact = offline_fact.join(date_df.select('date_key', 'date'), offline_fact["transaction_date"] == date_df["date"], "inner") \
                               .join(product_df.select('product_key', 'product_id'), "product_id") \
                               .join(customer_df.select('customer_key', 'customer_id'), "customer_id") \
                               .join(branch_df.select('branch_key', 'branch_id'), "branch_id") \
                               .join(sales_agent_df.select('sales_agent_key', 'sales_agent_id'), "sales_agent_id")

In [58]:
write_parquet(online_fact, f"{Config.CONFORMED_NORMALIZED_BASE_PATH}/online_sales_fact/online_fact")
write_parquet(offline_fact, f"{Config.CONFORMED_NORMALIZED_BASE_PATH}/offline_sales_fact/offline_fact")